<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Ondrej Sika (Ondřej Šika) ondrejsika.com</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="Ondrej Sika">
    <meta name="description" content="">
    <meta name="keywords" content="Ondrej Sika, Ondřej Šika, Sika, Šika">
    <link rel="stylesheet" type="text/css" href="/static/t/aslynx.css">
  </head>
  <body>
    <p><a href="/t/en/home">english</a> | <a href="/t/cs/home">cesky</a></p>
    {% block menu %}{% endblock %}
    <h1>Ondrej Sika</h1>
    {% block content %}{% endblock %}
    <hr>
    <p>2012 <a href="http://ondrejsika.com">Ondrej Sika</a> | This site is optimised for Lynx and other new browsers.</p>
  </body>
</html>