{% extends "base.html" %}
{% block content %}
<h2>Blog</h2>

{% set posts = [
    "/blog/en/mass-image-resize-via-python",
    "/blog/en/python-django-and-coffeescript",
    "/blog/en/install-node-js",
    "/blog/en/sublime-text-tips",
    "/blog/en/markdown-editors",
    "/blog/en/https-on-nginx-or-apache2",
    "/blog/en/campus-party-europe-2012",
    "/blog/en/pf2013",
] %}

{% for post in posts %}
    {% import post+".html" as article %}
    <a href="{{post}}"><h3>{{article.blog_title}}</h3></a>
    <p>{{article.blog_date}}</p>
{% endfor %}
{% endblock content %}
