{% extends "blog/base.html" %}
{% set blog_title = "PF2013" %}
{% set blog_date = "20. 12. 2012" %}
{% block blog_content %}
<div class="row" style="margin-bottom:10px;">
    <div class="span4">
        <img src="/static/pf/pf2013inverted.png">
    </div>
    <div class="span6">
        <p>Merry Christmas and lot of health, happiness and success in year 2013
        <br>Krásné prožití Vánočních svátků a hodně zdraví, stěstí a úspěchu do roku 2013</p>
        <p>Download as plain text <a href="/static/pf/pf2013.txt" target="blank">pf2013.txt (4kB)</a>
        <br>Download as image white on black <a href="/static/pf/pf2013.png" target="blank">pf2013.png (12kB)</a>
        <br>Download as image black on white <a href="/static/pf/pf2013inverted.png" target="blank">pf2013inverted.png (12kB)</a></p>
    </div>
</div>
{% endblock blog_content %}