{% extends "t/base.html" %}
{% block menu %}
{% endblock menu %}
{% block content %}
<h2>Aktuality</h2>
<h3>RHoK vol. 2</h3>
<p>27. 11. 2012</p>
<p>Zúčastnil jsem se programovacího víkendu na pomoc nezoskovkám podporované programem ReStart Česko, pořádané GUGem a SdruzeniVIA. Podílel jsem se na vývoji opensource projektu Zelené mapa Prahy (<a href="http://zelenamapa.cz/">zelenamapa.cz</a>). </p>
<ul>
<li>Zelená mapa na GitHubu <a href="http://github.com/auto-mat/zelenamapa">http://github.com/auto-mat/zelenamapa</a></li>
<li>Fotografie <a href="https://plus.google.com/u/0/events/c94g0dpp4g6gtngrmn37mts395s">Google +</a>, <a href="https://www.facebook.com/media/set/?set=a.466190440111522.112800.431515113579055&type=3">Facebook</a></li>
</ul>
{% endblock %}