{% extends "t/base.html" %}
{% block menu %}
{% endblock menu %}
{% block content %}
<h2>Kontakt</h2>
<h3>Vývoj Python (Django)</h3>
<pre>
email           <a href="mailto:dev@ondrejsika.com">dev@ondrejsika.com</a>
telefon         +420 773 452 376
dostupnost      <a href="http://www.google.com/calendar/embed?src=sika.ondrej%40gmail.com">google calendar</a>
adresa          Plzeň
                Česká republika
</pre>

<h3>Hosting</h3>
<pre>
PHP             <a href="mailto:info@phphost.cz">info@phphost.cz</a>     <a href="http://phphost.cz">phphost.cz</a>
Django (WSGI)   <a href="mailto:info@djangohost.cz">info@djangohost.cz</a>  <a href="http://djangohost.cz">djangohost.cz</a>
GIT             <a href="mailto:info@git-host.cz">info@git-host.cz</a>    <a href="http://git-host.cz">git-host.cz</a>
</pre>
{% endblock %}