{% extends "t/base.html" %}
{% block menu %}
{% endblock menu %}
{% block content %}
<h2>O mne</h2>
<p>Jsem devatenáctiletý uživatel Linuxu (Debian) a vývojář. Žiji v Plzni a studuji na <a href="http://www.zcu.cz">Západočeské univerzitě v Plzni</a> informatiku. Jsem velkám nadšencem do <a href="/projects#opensource">opensource</a> a proto se snažím otevřít většinu svého kódu. Ve velném čase <a href="http://skauting.cz">skautuji</a> a běhám <a href="http://orientacnibeh.cz/">orientační běh</a>. Mým životním vzorem je <a href="http://en.wikipedia.org/wiki/Daniel_J._Bernstein">Daniel J. Bernstein</a>, profesor matematiky.</p>
<h2>Znalosti</h2>
<ul>
  <li><b>Python</b> (Django, Flask, Jinja2)</li>
  <li><b>C</b> (pro výpočty &amp; Python knihovny)</li>
  <li><b>SQL</b> (MySQL, PgSQL)</li>
  <li><b>HTML5</b>, <b>CSS3</b>, <b>JavaScript</b></li>
  <li><b>TeX</b>, <b>LaTeX</b></li>
  <li><b>PHP</b> (ale nemám rád)</li>
</ul>
<h2>Social</h2>
{% include "t/social.html" %}
{% endblock %}