{% extends "t/base.html" %}
{% block menu %}
{% endblock menu %}
{% block content %}
<h2>About me</h2>
<p>I am 19 years old Linux (Debian) user, developer and evangelist from Pilsen (Czech&nbsp;Republic).  I study at the <a href="http://www.zcu.cz">University of West Bohemia in Pilsen</a> computer science. I am <a href="/projects#opensource">opensource</a> lover &amp; enthusiast, so I try to open the most code, what I writed. My free time activities are <a href="http://scout.org/">Scouting</a> and <a href="http://orienteering.org/">Orienteering</a>. My idol is <a href="http://en.wikipedia.org/wiki/Daniel_J._Bernstein">Daniel J. Bernstein</a>, professor of mathematics.</p>
<h2>Computer skills</h2>
<ul>
  <li><b>Python</b> (Django, Flask, Jinja2)</li>
  <li><b>C</b> (pro výpočty &amp; Python knihovny)</li>
  <li><b>SQL</b> (MySQL, PgSQL)</li>
  <li><b>HTML5</b>, <b>CSS3</b>, <b>JavaScript</b></li>
  <li><b>TeX</b>, <b>LaTeX</b></li>
  <li><b>PHP</b> (but, I don't like it)</li>
</ul>
<h2>Social</h2>
{% include "t/social.html" %}
{% endblock %}