<p>Share on
    <a href="http://www.facebook.com/sharer/sharer.php?s=100&p[url]=http://ondrejsika.com{{page.url}}&p[images][0]=&p[title]={{page.title}}&p[summary]=">Facebook</a>,
    <a href="http://twitter.com/home?status={{page.title}}, http://ondrejsika.com{{page.url}} via @ondrejsika">Twitter</a>,
    <a href="https://plus.google.com/share?url=http://ondrejsika.com{{page.url}}">Google+</a>,
    <a href="http://www.linkedin.com/shareArticle?mini=true&url=http://ondrejsika.com{{page.url}}&title={{page.title}}&summary=&source=">Linkedin</a>
</p>

