{% extends "base.html" %}
{% block base_content %}
<style type="text/css">
.block1 {
    min-height: 130px;
}
.row{
    margin-bottom: 10px;
}
.opensource {
    background-image: url("/static/img/open-source25.png");
    background-repeat: no-repeat;
    background-position: top right;
}
h3 {
    margin-top: 10px;
}
</style>
<h2>viminput 1.0.1 (python)</h2>
<p>If you want to enter lot of text, python's standart input is inappropriate. You write data comfortably in vim, but python load data as data from std input.</p>
<p>
    <a href="http://pypi.python.org/pypi/viminput">http://pypi.python.org/pypi/viminput</a>
    <br><a href="https://bitbucket.org/sikaondrej/python-viminput/overview">https://bitbucket.org/sikaondrej/python-viminput/overview</a>
</p>
<h3>Installation</h3>
<p>You have 2 way to install viminput. I prefer install via python package index</p>
<pre>pip install viminput</pre>
<p>or download <a href="http://pypi.python.org/packages/source/v/viminput/viminput-1.0.1.tar.gz">viminput-1.0.1.tar.gz</a> and install manually</p>
<pre>wget http://pypi.python.org/packages/source/v/viminput/viminput-1.0.1.tar.gz
tar xzvf viminput-1.0.1.tar.gz
cd viminput-1.0.1
python setup.py install
</pre>
<h3>Example</h3>
<h4>import functions</h4>
<pre>>>> from viminput import viminput, textinput</pre>
<h4>viminput without default data</h4>
<p>open blank vim</p>
<pre>>>> data = viminput()</pre>
<h4>viminput with default data</h4>
<p>open vim with default data</p>
<pre>>>> data = viminput("this is default data\ndataon new line")</pre>
<h4>textinput open editor from $EDITOR with default data</h4>
<p>open texteditor from $EDITOR with default data</p>
<pre>>>> data = textinput(content="this is default data\ndataon new line")</pre>
<h4>textinput open defined editor</h4>
<p>open texteditor (nano) with default data</p>
<pre>>>> data = textinput(editor="nano", content="this is default data\ndataon new line")</pre>
{% endblock base_content %}
