/* 
Eyes saver
Author:   Ondrej Sika
          http://ondrejsika.com
          sika.ondrej@gmail.com
License:  GNU GPL v. 3
Date:     Mon Nov 10 2012
*/

body {
  background-color: black;
  color: gray;
  font-family: monospace;
  font-size: 1.2em;
}
a {
  color: green;
}

tt {
  color: purple;
}