{% set title = blog_title %}
{% extends "base.html" %}
{% block content %}
<h2>{{blog_title}}</h2>
{% block blog_content %}{% endblock %}
<div class="row">
    <div class="span">
        <div id="fb-root"></div>
        <script>(function(d, s, id) {
          var js, fjs = d.getElementsByTagName(s)[0];
          if (d.getElementById(id)) return;
          js = d.createElement(s); js.id = id;
          js.src = "//connect.facebook.net/en_GB/all.js#xfbml=1&appId=171163369692674";
          fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));</script>
        <div class="fb-like" data-send="false" data-layout="button_count" data-width="200" data-show-faces="false"></div>
    </div>
    <div class="span">
        <a href="https://twitter.com/share" class="twitter-share-button" data-via="sikaondrej" data-lang="en">Tweet</a>
        <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="https://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
    </div>
    <div class="span">
        <script type="text/javascript" src="https://apis.google.com/js/plusone.js"></script>
        <g:plusone  size="medium" style="margin-left:60px;"></g:plusone>

    </div>
</div>
{% include "disquis.html" %}
{% endblock content %}
