{% extends "base.html" %}
{% block content %}
{% set posts = [
    "/blog/en/markdown-editors",
    "/blog/cz/sumava-downhill",
    "/blog/cz/tabor-2013",
    "/blog/cz/vim-naproste-zaklady",
    "/blog/cz/zavody-orientacniho-behu-v-oe2010-pod-linuxem",
    "/blog/en/https-on-nginx-or-apache2",
    "/blog/en/pf2013",
    "/blog/en/campus-party-europe-2012",
] %}

<style type="text/css">
h4 {display: inline-block;}
</style>

<h2>Blogs</h2>
<div class="row">
    <div class="span5">
        <a href="/blog/cz/"><h3>Czech blog</h3></a>
    </div>
    <div class="span5">
        <a href="/blog/en/"><h3>English blog</h3></a>
    </div>
</div>
<hr>
<h3>All posts</h3>
{% for post in posts %}
    {% import post+".html" as article %}
    <p><a href="{{post}}"><h4>{{article.blog_title}}</h4></a> ({{article.blog_date}})</p>
{% endfor %}
{% endblock content %}