{% extends "blog/base.html" %}
{% set blog_title = "Horizontal and vertical center in HTML5" %}
{% set blog_date = "21. 5. 2013" %}
{% block blog_content %}
<h3>index.html</h3>
<pre>
&lt;!DOCTYPE html&gt;
&lt;html&gt;
    &lt;head&gt;
        &lt;link rel="stylesheet" type="text/css" href="/static/center.css"&gt;
        &lt;style type="text/css"&gt;
            #centerContent {width: 300px;}
        &lt;/style&gt;
    &lt;/head&gt;
    &lt;body&gt;
        &lt;div id="centerOuter"&gt;&lt;div id="centerInner"&gt;&lt;div id="centerContent"&gt;
            &lt;!-- BODY --&gt;
            &lt;h1&gt;Test&lt;/h1&gt;
            &lt;!-- END BODY --&gt;
        &lt;/div&gt;&lt;/div&gt;&lt;/div&gt;
    &lt;/body&gt;
&lt;/html&gt;
</pre>

<h3>center.css</h3>
<pre>
html, body { height: 99%; width: 99%; }
#centerOuter { height: 99%; width: 99%; display: table; vertical-align: middle; }
#centerInner { position: relative; vertical-align: middle; display: table-cell; }
#centerContent {margin-left: auto; margin-right: auto; position: relative; width: 99%;}
</pre>
{% endblock blog_content %}