{% extends "base.html" %}
{% block content %}
<h2>Servers</h2>

<table class="table">
    <tr>
        <td>sikasrv-ann</td>
        <td>31.31.77.80</td>
        <td><a href="http://ann.srv.ondrejsika.com">ann.srv.ondrejsika.com</a></td>
    </tr>
    <tr>
        <td>sikasrv-denca</td>
        <td>37.157.193.237</td>
        <td><a href="http://denca.srv.ondrejsika.com">denca.srv.ondrejsika.com</a></td>
    </tr>
    <tr>
        <td>sikasrv-andrejka</td>
        <td>5.135.188.6</td>
        <td><a href="http://andrejka.srv.ondrejsika.com">andrejka.srv.ondrejsika.com</a></td>
    </tr>
</table>
{% endblock content %}
