{% extends "base.html" %}
{% block content %}
<h2>About me</h2>
<div class="row">
    <div class="span7">
        <p>I am 20 years old Linux (Debian) user, developer and evangelist from Pilsen (Czech&nbsp;Republic).  I study at the <a href="http://www.zcu.cz" target="blank">University of West Bohemia in Pilsen</a> computer science. I am opensource lover &amp; enthusiast, so I try to open the most code, what I write. My free time activities are <a href="http://scout.org/" target="blank">Scouting</a> and <a href="http://orienteering.org/" target="blank">Orienteering</a>.</p>
        <h2>Computer skills</h2>
        <b>Linux</b> (<a href="http://debian.org" target="blank">Debian</a>) with <b><a href="http://i3wm.org" target="blank">i3wm</a></b> (graphic enviroment)
        <br><b><a href="http://en.wikipedia.org/wiki/Vim_(text_editor)" target="blank">vim</a></b>, <b><a href="http://www.sublimetext.com/" target="blank">sublime text</a></b> (code editors)
        <br><b>git</b> (version control) my <a href="http://github.com/sikaondrej" target="blank">github</a>, <a href="http://bitbucket.org/sikaondrej" target="blank">bitbucket</a>
        <div class="row">
            <div class="span3">
                <h3>Main languages</h3>
                Python, Django
                <br>HTML5, CSS, JavaScript
            </div>
            <div class="span3">
                <h3>Other languages</h3>
                C (ansi)
                <br>sh, bash
                <br>MySQL, PostgreSQL, MongoDB
                <br>LaTeX, Markdown
                <br>Bootstrap, jQuery
            </div>
        </div>
        <h2>Curriculum vitae (resume)</h2>
        <b>English version</b> <a href="/static/cv/cv2012en.pdf" target="blank">Download as PDF</a>, <a href="/static/cv/cv2012en.tex" target="blank">Download as TeX</a>
        <br>
        <b>Czech version</b> <a href="/static/cv/cv2012cs.pdf" target="blank">Download as PDF</a>, <a href="/static/cv/cv2012cs.tex" target="blank">Download as TeX</a>

        <h2>Linux evangelist</h2>
        I'm try to distribute Linux to normal PC users. People and organizations that started using linux on my recommendation: 
        <b>František Kolovský</b> (student GIS, ZCU),
        <b>Roman Kaas</b> (clarinet professor),
        <b>Help me Plzeň</b> (support handicap children),
        <b>Karolína Šiková</b> (student),
        <b>Barbora Šiková</b> (student),
        </b>Daniel Sleis</b> (student)
    </div>
    <div class="span3">
        <img src="/static/images/profile2012.jpg" alt="photo of me">
    </div>
</div>
{% endblock content %}