{% extends "base.html" %}
{% block content %}
<h2>Python libraries</h2>
<table class="table">
    <tr>
        <td><b>django-remoteforms</b></td>
        <td><a href="/docs/django-remoteforms">documentation</a></td>
        <td><a href="http://pypi.python.org/pypi/django-remoteforms" target="blank">pypi.python.org</a></td>
        <td><a href="https://bitbucket.org/sikaondrej/django-remoteforms" target="blank">bitbucket</a></td>
    </tr>
    <tr>
        <td><b>crypto</b></td>
        <td><a href="/docs/python-crypto">documentation</a></td>
        <td><a href="http://pypi.python.org/pypi/crypto" target="blank">pypi.python.org</a></td>
        <td><a href="https://bitbucket.org/sikaondrej/python-crypto" target="blank">bitbucket</a></td>
    </tr>
    <tr>
        <td><b>django-simpleblog</b></td>
        <td><a href="/docs/django-simpleblog">documentation</a></td>
        <td><a href="http://pypi.python.org/pypi/django-simpleblog" target="blank">pypi.python.org</a></td>
        <td><a href="https://bitbucket.org/sikaondrej/django-simpleblog"  target="blank">bitbucket</a></td>
    </tr>
    <tr>
        <td><b>viminput</b></td>
        <td><a href="/docs/python-viminput">documentation</a></td>
        <td><a href="http://pypi.python.org/pypi/viminput" target="blank">pypi.python.org</a></td>
        <td><a href="http://bitbucket.org/sikaondrej/python-viminput" target="blank">bitbucket</a></td>
    </tr>
</table>
<h2>JavaScript libraries</h2>
<table class="table">
    <tr>
        <td><b>youtube-playlist-player</b></td>
        <td><a href="/docs/javascript-youtube-playlist-player">documentation</a></td>
        <td><a href="https://bitbucket.org/sikaondrej/javascript-youtube-playlist-player" target="blank">bitbucket</a></td>
    </tr>
</table>
<h2>Applications</h2>
<table class="table">
    <tr>
        <td><b>shm (sika hosting manager)</b></td>
        <td></td>
        <td><a href="/docs/shm">description</a></td>
        <td><a href="https://bitbucket.org/sikaondrej/shm" target="blank">source bitbucket</a></td>
    </tr>
    <tr>
        <td><b>spm (sika postgresql manager)</b></td>
        <td></td>
        <td><a href="/docs/spm">description</a></td>
        <td><a href="https://bitbucket.org/sikaondrej/spm" target="blank">source bitbucket</a></td>
    </tr>
    <tr>
        <td><b>oss-mysqlbackup</b></td>
        <td></td>
        <td><a href="/docs/oss-mysqlbackup">description</a></td>
        <td><a href="https://bitbucket.org/sikaondrej/oss-mysqlbackup" target="blank">source bitbucket</a></td>
    </tr>
    <tr>
        <td><b>oss-sync</b></td>
        <td></td>
        <td><a href="/docs/oss-sync">description</a></td>
        <td><a href="https://bitbucket.org/sikaondrej/oss-rsa" target="blank">source bitbucket</a></td>
    </tr>
    <tr>
        <td><b>oss-rsa</b></td>
        <td></td>
        <td><a href="/docs/oss-rsa">description</a></td>
        <td><a href="https://bitbucket.org/sikaondrej/oss-rsa" target="blank">source bitbucket</a></td>
    </tr>
    <tr>
        <td><b>Online octave shell</b></td>
        <td><a href="http://octave.pya.cz" target="blank">octave.pya.cz</a></td>
        <td><a href="/docs/octave-online-shell"></a>description</td>
        <td><a href="https://bitbucket.org/sikaondrej/octave-online-shell" target="blank">source bitbucket</a></td>
    </tr>
</table>
{% endblock content %}