{% extends "base.html" %}
{% block content %}
<h2>Python libraries</h2>
<table class="table">
    <tr>
        <td><b>crypto 1.0.0</b></td>
        <td><a href="/docs/python-crypto">documentation</a></td>
        <td><a href="http://pypi.python.org/pypi/crypto">pypi.python.org</a></td>
        <td><a href="https://bitbucket.org/sikaondrej/python-crypto">bitbucket</a></td>
    </tr>
    <tr>
        <td><b>django-simpleblog 1.0</b></td>
        <td>documentation</td>
        <td><a href="http://pypi.python.org/pypi/django-simpleblog">pypi.python.org</a></td>
        <td><a href="https://bitbucket.org/sikaondrej/django-simpleblog">bitbucket</a></td>
    </tr>
    <tr>
        <td><b>viminput 1.0.1</b></td>
        <td>documentation</td>
        <td><a href="http://pypi.python.org/pypi/viminput">pypi.python.org</a></td>
        <td><a href="http://bitbucket.org/sikaondrej/python-viminput">bitbucket</a></td>
    </tr>
</table>
{% endblock content %}