{% extends "base.html" %}
{% block content %}
<div class="row">
    <div class="span9">
        <h2>Appilcations</h2>
        <table class="table">
            <tr>
                <td><b>deploy (python host manager)</b></td>
                <td></td>
                <td><a href="/docs/deploy">documentation</a></td>
                <td><a href="https://github.com/sikaondrej/deploy" target="blank">GitHub</a></td>
            </tr>
            <tr>
                <td><b>spm (smart postgresql manager)</b></td>
                <td></td>
                <td><a href="/docs/spm">documentation</a></td>
                <td><a href="https://github.com/sikaondrej/spm" target="blank">GitHub</a></td>
            </tr>
        </table>
    </div>
</div>
<h2>Libraries</h2>
<div class="row">
    <div class="span3">
        <a href="/apps-libs/python"><h3>Python </h3></a>
    </div>
    <div class="span3">
        <a href="/apps-libs/django"><h3>Django libraries</h3></a>
    </div>
    <div class="span3">
        <a href="/apps-libs/javascript"><h3>JavaScript libraries</h3></a>
    </div>
</div>
{% endblock content %}
