<!doctype html>
<html>
	<head>
		<meta charset="utf-8"/>
		<title>{% block title %}ondrejsika.com{% endblock title %}</title>
		<link rel="stylesheet" media="all" href="/static/css/main.css"/>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
	</head>
	<body>
		<div class="header">
			<h1>ondrejsika.com</h1>
			<hr>
			{% include "menu.html" %}
		</div>
		<hr>
		<div class="content">
			{% block base_content %}
			{% block content %}
			{% endblock content %}
			{% endblock base_content %}
		</div>
		<hr>
		<div class="footer">
			<p>2013 <a href="http://ondrejsika.com">Ondrej Sika</a></p>
		</div>
	</body>
</html>