<!doctype html>
<html>
    <head>
        <meta charset="utf-8"/>
        <title>{% block title %}ondrejsika.com{% endblock title %}</title>
        <link href="/static/bootstrap/css/bootstrap.min.css" rel="stylesheet">
        <link href="/static/bootstrap/css/bootstrap-responsive.min.css" rel="stylesheet">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <style type="text/css">
        body {font-size: 16px;}
        h1 {font-size: 22px;}
        .menu  {font-size: 18px;}
        </style>
    </head>
    <body>
        <div class="container">
            <div class="row">
                <div class="span2">
                    <h1>ondrejsika.com</h1>
                </div>
            </div>
            <div class="row">
                <div class="span2 menu">
                    {% include "menu.html" %}
                </div>
                <div class="span10">
                    {% block base_content %}
                    {% block content %}
                    {% endblock content %}
                    {% endblock base_content %}
                </div>
            </div>
        <hr>
        <div class="footer">
            <p>2012 - 2013 <a href="http://ondrejsika.com">Ondrej Sika</a></p>
        </div>
        </div>
    </body>
</html>