{% extends "base.html" %}
{% block content %}
<h2>Contact me</h2>
<div class="row">
    <div class="span5">
        <h3>email</h3>
        <p><a href="mailto:dev@ondrejsika.com">dev@ondrejsika.com</a> opensource &amp; non-profit projects
        <br><a href="mailto:work@ondrejsika.com">work@ondrejsika.com</a> work offers</p>
        
        <h3>phone</h3>
        <p>+420 773 452 376</p>
        
        <h3>availability</h3>
        <p><a target="blank" href="https://www.google.com/calendar/embed?src=sika.ondrej%40gmail.com">google calendar</a></p>
    </div>
    <div class="span4">
        <h3>address</h3>
        <p>Klatovska 71,
        <br>301 00 Pilsen
        <br>Czech Republic</p>
        
        <h3>IC</h3>
        <p>88114163</p>
        <h3>DIC</h3>
        <p>CZ9302252102</p>
    </div>
</div>

<h3>Bank account</h3>
<table class="table">
    <tr>
        <td>Payments in Czech Republic (CZK)</td>
        <td>2500171198 / 2010</td>
    </tr>
    <tr>
        <td>Payments in Slovakia (EUR)</td>
        <td>2500171198 / 8330</td>
    </tr>
    <tr>
        <td>IBAN</td>
        <td>CZ0620100000002500171198</td>
    </tr>
    <tr>
        <td>BIC code / SWIFT</td>
        <td>FIOBCZPPXXX</td>
    </tr>
    <tr>
        <td>Bank address</td>
        <td>Fio banka, a.s., V Celnici 1028/10, Praha 1</td>
    </tr>
</table>
{% endblock content %}