{% extends "base.html" %}
{% block content %}
<h2>Contact me</h2>
<h3>email</h3>
<p><a href="mailto:dev@ondrejsika.com">dev@ondrejsika.com</a></p>
<h3>phone</h3>
<p>+420 773 452 376</p>
<h3>availability</h3>
<p><a target="blank" href="https://www.google.com/calendar/embed?src=sika.ondrej%40gmail.com">google calendar</a></p>
<h3>address</h3>
<p>Pilsen<br>Czech Republic</p>
<h3>curriculum vitae</h3>
<p>
<a href="http://drive.ondrejsika.com/cv.pdf" target="blank">Download as PDF</a>
<br><a href="http://drive.ondrejsika.com/cv.tex" target="blank">Download as TeX</a>
</p>
{% endblock content %}