{% extends "base.html" %}

{% block base_content %}
<h2>Contact me</h2>
<div class="row">
<div class="span4">
    <h3>Python (Django) development</h3>
    <p>
    email: <a href="mailto:work@ondrejsika.com"><b>work@ondrejsika.com</b></a>
    <br>phone: <b>+420 773 452 376</b>
    <br>availiblity: <a href="https://www.google.com/calendar/embed?src=sika.ondrej%40gmail.com">google calendar</a>
    <br>
    <br>Pilsen, Czech Republic
    </p>
</div>
<div class="span4">
    <h3>Hosting</h3>
    <p>email: <a href="mailto:hosting@ondrejsika.com"><b>hosting@ondrejsika.com</b></a>, <a href="mailto:info@git-host.cz"><b>info@git-host.cz</b></a>, <a href="mailto:info@djangohost.cz"><b>info@djangohost.cz</b></a>
    <br>www: <a href="http://djnagohost.cz"><b>djangohost.cz</b></a>, <a href="http://git-host.cz"><b>git-host.cz</b></a>
    </p>
</div>
</div>
{% endblock base_content %}