<html>
    <head>
        <title>Ondrej Sika</title>
        <link rel="stylesheet" type="text/css" href="/static/lynx.css">
    </head>
    <body>
        <h1>Ondrej Sika</h1>
        <p>Python developer from Prague, Czech Republic</p>
        <h2>Skills</h2>
        <ul>
            <li>Python, Django</li>
            <li>JavaScript (CoffeeScript)</li>
            <li>MongoDB, PostgreSQL (PostGIS)</li>
            <li>Bash, C, LaTeX, ...</li>
        </ul>
        <h2>Links</h2>
        <ul>
            <li><a href="http://github.com/sikaondrej" target="blank">Github</a></li>
            <li><a href="http://twitter.com/sikaondrej" target="blank">Twitter</a></li>
            <li><a href="https://plus.google.com/u/0/103792510103800752680/about" target="blank">Google+</a></li>
            <li><a href="http://facebook.com/sikaondrej2" target="blank">Facebook</a></li>
            <li><a href="http://www.linkedin.com/pub/ondrej-sika/56/595/a62" target="blank">Linkedin</a></li>
        </ul>
        <h2>Contact</h2>
        <h3>Email</h3>
        <ul>
            <li><a href="mailto:ondrej@ondrejsika.com">ondrej@ondrejsika.com</a> (personal)</li>
            <li><a href="mailto:work@ondrejsika.com">work@ondrejsika.com</a> (work)</li>
        </ul>
        <h3>Skype</h3>
        <ul>
            <li>sika.ondrej</li>
        </ul>
        <h3>Address</h3>
        <p>
            Klatovska 71
            <br>301 00 Pilsen
            <br>Czech Republic
        </p>
        <h3>Billing info</h3>
        <table>
            <tr>
                <td>ID Number</td>
                <td>88114163</td>
            </tr>
            <tr>
                <td>Tax ID Number</td>
                <td>CZ9302252102</td>
            </tr>
        </table>
        <h3>Bank account</h3>
        <table>
            <tr>
                <td>Payments in Czech Republic (CZK)</td>
                <td>2500171198 / 2010</td>
            </tr>
            <tr>
                <td>Payments in Slovakia (EUR)</td>
                <td>2500171198 / 8330</td>
            </tr>
            <tr>
                <td>IBAN</td>
                <td>CZ0620100000002500171198</td>
            </tr>
            <tr>
                <td>BIC code / SWIFT</td>
                <td>FIOBCZPPXXX</td>
            </tr>
            <tr>
                <td>Bank address</td>
                <td>Fio banka, a.s., V Celnici 1028/10, Praha 1</td>
            </tr>
        </table>

        <h2>Projects</h2>
        <h3>Sitron project</h3>
        <p>
            Opensource platform for managing orienteering races on SportIdent.
            <br><a href="http://sitronproject.com" target="blank">sitronproject.com</a>, <a href="http://github.com/sitronproject" target="blank">GitHub</a>
        </p>

        <p class="footer">2012 - 2013 <a href="http://ondrejsika.com">Ondrej Sika</a> | Optimized for <a id="switch-lynx" href="/#lynx" onclick="window.location.href='/#lynx';window.location.reload()" target="blank">Lynx</a></p>
        <script type="text/javascript" src="/static/lynx.js"></script>
    </body>
</html>
