{% extends "base.html" %}
{% block content %}
<div class="row">
    <div class="span7">
        <p style="font-size:30px;font-family:Ubuntu;margin-bottom:30px;">Welcome on my site</p>
        <h2>Check out some of my sites</h2>
        <p class="large">
        <a href="http://prodejknihu.cz" target="blank">ProdejKnihu.cz</a> (CZ), <!-- <a href="http://arduinocz.eu">ArduinoCZ.eu</a>,
        <a href="http://octave.pya.cz/">Octave Online Shell</a>,  --><a href="http://blog.ondrejsika.com/" target="blank">Ondrej Sika's blog</a> (CZ), <a href="http://touchthespace.eu" target="blank">Touch the Space</a> (CZ), <a href="http://htmlpkg.com" target="blank">HTML packages</a>
        </p>
        <h2>and my opensource on</h2>
        <p class="large">
        <a href="https://bitbucket.org/sikaondrej" target="blank">BitBucket</a>, <a href="https://github.com/sikaondrej" target="blank">GitHub</a>
        </p>
    </div>
    <div class="span3" style="text-align:right;">
        <img src="/static/images/tux_terka.png" alt="tux image">
    </div>
</div>
{% endblock content %}