{% extends "base.html" %}
{% block base_content %}
<div class="row">
<div class="span6">
    <h2>Technology</h2>
    <p style="font-weight:bold;">Python, Django, WebApp, JavaScript, HTML5</p>

    <h2>About me</h2>
    <p>I'm 19 years old Linux user, developer and evangelist from Pilsen (Czech&nbsp;Republic).  I study at the University of West Bohemia in Pilsen computer science.</p>

    <div class="row">
      <div class="span3">
        <h3>Linux evangelist</h3>
<img src="/static/img/tux200.png" alt="tux" width="25">
<img src="/static/img/tux200.png" alt="tux" width="25">
<img src="/static/img/tux200.png" alt="tux" width="25">
<img src="/static/img/tux200.png" alt="tux" width="25">
<img src="/static/img/tux200.png" alt="tux" width="25">
      </div>
      <div class="span3">
<h3>Open source</h3>
<img src="/static/img/open-source.png" alt="opensource" width="25">
<img src="/static/img/open-source.png" alt="opensource" width="25">
<img src="/static/img/open-source.png" alt="opensource" width="25">
      </div>
    </div>
</div>
<div class="span3"></div>
<div class="span3">
    <div style="float:right;">
       <img src="/static/img/photo.jpg" alt="photo" width="200" style="-webkit-border-radius: 15px;-moz-border-radius: 15px;border-radius: 16px;">
<p style="margin-top:10px;"><b>
  <a href="http://twitter.com/sikaondrej"><img src="/static/img/twitter.png" width="16" height="16" alt="twitter_icon"></a>
  <a href="http://twitter.com/sikaondrej">Twitter</a>
  <br>
  <a href="http://bitbucket.org/sikaondrej"><img src="/static/img/bitbucket.png" width="16" height="16" alt="bitbucket_icon"></a>
  <a href="http://bitbucket.org/sikaondrej">Bitbucket.org</a>
  <br>
  <a href="http://plus.google.com/u/0/103792510103800752680/about"><img src="/static/img/gplus.png" width="16" height="16" alt="googleplus_icon"></a>
  <a href="http://plus.google.com/u/0/103792510103800752680/about">Google +</a>
  <br>
  <a href="http://blog.ondrejsika.com"><img src="/static/img/globe.png" width="16" height="16" alt="blog_icon"></a>
  <a href="http://blog.ondrejsika.com">blog.ondrejsika.com</a>
  <br>
  <a href="http://facebook.com/sikaondrej2"><img src="/static/img/fb.jpg" width="16" height="16" alt="facebook_icon"></a>
  <a href="http://facebook.com/sikaondrej2">Facebook</a>
  <br>
  <a href="http://facebook.com/sikaondrej2"><img src="/static/img/linkedin.jpg" width="16" height="16" alt="facebook_icon"></a>
  <a href="http://cz.linkedin.com/pub/ondrej-sika/56/595/a62">LinkedIn</a>

</b></p>

<!--
<h4>My projects</h4>
<p>
<a href="http://zago.ondrejsika.com">Zago</a>
<br><a href="http://ipview.ondrejsika.com">IP View</a>
<br><a href="http://"></a>
</p>
-->
    </div>
</div>
</div>
          
          
          
          
{% endblock base_content %}