{% extends "base.html" %}
{% set title = "Ondrej Sika" %}
{% block body %}
<style type="text/css">
    body {
        background: url("/static/planecabin.jpg") no-repeat center center fixed; 
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
        margin: 0;
        padding: 0;
    }
    .main {
        margin: 0;
        padding: 0;
        height: 99%;
    }
    h1 {
        font-size: 100px;
        text-shadow: -2px 2px  #444444, 2px -2px  #444444, 2px 2px  #444444, -2px -2px  #444444;
        line-height: 1em;
        color: #FFFFFF;
        opacity: 0;
    }

    html, body { height: 100%; width: 99%; }
    #centerOuter { height: 99%; width: 99%; display: table; vertical-align: middle; }
    #centerInner { position: relative; vertical-align: middle; display: table-cell; }
    #centerContent {margin-left: auto; margin-right: auto; position: relative; width: 99%;}

    /* Mobie */
    @media (max-width: 480px) {
        .main {margin: 10px}
    }
</style>
<div class="main ubuntu-font">
    <div id="centerOuter"><div id="centerInner"><div id="centerContent">
            <!-- BODY -->
            <center>
            <h1 id="text">I want be a pilot</h1>
            </center>
            <!-- END BODY -->
        </div></div></div>
</div>
<script type="text/javascript">
// setInterval(function(){
    var opacity = 0;
    loop = setInterval(function(){
        opacity = opacity + 0.05;
        document.getElementById("text").style.opacity = opacity;
        if (opacity > 1) {
            clearInterval(loop);
            setTimeout(function(){
                loop2 = setInterval(function(){
                    opacity = opacity - 0.05;
                    document.getElementById("text").style.opacity = opacity;
                    if (opacity < 0) {
                        document.getElementById("text").style.opacity = 0;
                        clearInterval(loop2);
                        document.getElementById("text").innerHTML = "... and I want a Tracy";
                        loop3 = setInterval(function(){
                            opacity = opacity + 0.05;
                            document.getElementById("text").style.opacity = opacity;
                            if (opacity > 1) {
                                setTimeout(function(){
                                    clearInterval(loop3);
                                    loop4 = setInterval(function(){
                                        opacity = opacity - 0.05;
                                        document.getElementById("text").style.opacity = opacity;
                                        if (opacity < 0) {
                                            document.getElementById("text").style.opacity = 0;
                                            clearInterval(loop4);
                                        }
                                    }, 100);
                                }, 1000);
                            }
                        }, 100);
                    }
                }, 100);
            }, 1000);
        }
    }, 100);
// }, 10000)
</script>
{% endblock body %}