{% extends "base.html" %}
{% set title = "Ondrej Sika" %}
{% block body %}
<style type="text/css">
    body {
        background: url("/static/planecabin.jpg") no-repeat center center fixed; 
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
        margin: 0;
        padding: 0;
    }
    .main {
        margin: 0;
        padding: 0;
        height: 99%;
    }
    h1 {
        font-size: 100px;
        text-shadow: 5px 5px #444444;
        line-height: 1em;
        color: #CCCCCC;
    }

    html, body { height: 99%; width: 99%; }
    #centerOuter { height: 99%; width: 99%; display: table; vertical-align: middle; }
    #centerInner { position: relative; vertical-align: middle; display: table-cell; }
    #centerContent {margin-left: auto; margin-right: auto; position: relative; width: 99%;}

    /* Mobie */
    @media (max-width: 480px) {
        .main {margin: 10px}
    }
</style>
<div class="main ubuntu-font">
    <div id="centerOuter"><div id="centerInner"><div id="centerContent">
            <!-- BODY -->
            <center>
            <h1>I want to be a pilot</h1>
            </center>
            <!-- END BODY -->
        </div></div></div>
</div>
{% endblock body %}