{% extends "base.html" %}
{% block base_content %}
<style type="text/css">
.block1 {
    min-height: 130px;
}
.row{
    margin-bottom: 10px;
}
.opensource {
    background-image: url("/static/img/open-source25.png");
    background-repeat: no-repeat;
    background-position: top right;
}
.table td {
    width: 10%;
}
</style>
<h2>Python libraries</h2>
<table class="table">
    <tr>
        <td><a href="/libraries/python-viminput"><b>viminput 1.1</b></a></td>
        <td><a href="http://pypi.python.org/pypi/viminput">http://pypi.python.org/pypi/viminput</a></td>
        <td><a href="http://bitbucket.org/sikaondrej/python-viminput">bitbucket python-viminput</a></td>
    </tr>
</table>
{% endblock base_content %}
