 ~&nbsp;<a href="/">home</a>
 ~&nbsp;<a href="/news">news</a>
 ~&nbsp;<a href="/about-me">about&nbsp;me</a>
 ~&nbsp;<a href="/socials">socials</a>
 ~&nbsp;<a href="/projects">projects</a>
 ~&nbsp;<a href="/apps-libs">apps&nbsp;&amp;&nbsp;libs</a>
 ~&nbsp;<a href="/publishing">publishing</a>
 ~&nbsp;<a href="/sport">sport</a>
 ~&nbsp;<a href="http://blog.ondrejsika.com" target="blank">blog</a>
 ~&nbsp;<a href="http://drive.ondrejsika.com" target="blank">drive</a>
 ~&nbsp;<a href="/donate">donate</a>
 ~&nbsp;<a href="/contact">contact</a>