{% extends "base.html" %}
{% block content %}
<h2>News</h2>
<table class="table">
    <tr>
        <td>25. 3. 2013</td>
        <td>Gift 100 CZK for <a href="http://wikipedia.org" target="blank">Wikipedia</a> (<a href="/static/wikipedia_gift_certificate.pdf" target="blank">certifiacte</a>)</td>
    </tr>
    <tr>
        <td>12. 3. 2013</td>
        <td>Add responsive desing with Bootstrap</td>
    </tr>
    <tr>
        <td>4. 3. 2013</td>
        <td>Start of HTML package project. Read more <a href="http://htmlpkg.com"  target="blank">htmlpkg.com</a></td>
    </tr>
    <tr>
        <td>29. 1. 2013</td>
        <td>Start of this pretty site</td>
    </tr>
</table>
{% endblock content %}