{% extends "base.html" %}
{% block base_content %}
<div class="row">
<div class="span7">
    <h2 style="margin-bottom:20px;">News</h2>
    <div id="posts-list">
          <article class="format-standard">
            <div class="entry-date"><div class="number">27</div> <div class="year">11, 2012</div></div>
            <h2 class="post-heading"><!-- <a href="single.html"> -->STWW ver. 1.0 released<!-- </a> --></h2>
            <h3>Static Templated WSGI Web</h3>
            <div class="excerpt">
              <p>Today, I relased very simple WSGI server for quick creating simple web pages. This app has very simple deployment and support Jinja2 templates.
              </p>
              <p>App available on <a href="http://bitbucket.org/sikaondrej/stww">bitbucket</a> or <a href="http://github.com/sikaondrej/stww">github</a>.
            </p>
            </div>
          </article>

          <article class="format-standard">
            <div class="entry-date"><div class="number">25</div> <div class="year">11, 2012</div></div>
            <h2 class="post-heading"><!-- <a href="single.html"> -->RHoK vol. 2<!-- </a> --></h2>
            <div class="excerpt">
              <p>Hackaton is targeted to help non-profit organizations with their project.</p>
              <p>
              I cooperated on improvement of existing opensource project <a href="http://zelenamapa.cz">zelenamapa.cz</a> (green map). We added map widget, mobile version, comments, new map layer and some others little improvements. Our opensource project on GitHub <a href="http://github.com/auto-mat/zelenamapa">http://github.com/auto-mat/zelenamapa</a>.
            </p>

            <p>
              photos: <a href="https://plus.google.com/u/0/events/c94g0dpp4g6gtngrmn37mts395s">Google+</a>, <a href="https://www.facebook.com/media/set/?set=a.466190440111522.112800.431515113579055&type=3">Facebook</a>
              <br>
              links: <a href="http://gug.cz/">gug.cz</a>, <a href="http://www.sdruzenivia.cz/">sdruzenivia.cz</a>, <a href="https://github.com/RHoK-November-2012">all source on github</a>, <a href="http://restartceskarepublika.techsoupglobal.org/unauthenticated">ReStart CZ</a>
            </p>
            </div>
          </article>
    </div>
</div>
</div>
<div class="span2">
  
</div>
</div>
          
{% endblock base_content %}