{% extends "base.html" %}

{% block base_content %}
<div class="row">
<div class="span5" style="color:white;background-color:black;">
    <pre style="margin:30px;">
##################################################
#           _____  ______   ___   ___  __ ____   #
#          |  __ \|  ____| |__ \ / _ \/_ |___ \  #
#          | |__) | |__       ) | | | || | __) | #
#          |  ___/|  __|     / /| | | || ||__ <  #
#          | |    | |       / /_| |_| || |___) | #
#          |_|    |_|      |____|\___/ |_|____/  #
#                                                #
#                                   Ondrej Sika  #
#       /\                                       #
#      /  \                                      #
#     /____\                           _____     #
#     /    \            / \           |   /X     #
#    /______\          |°v°|          | .xXX     #
#       ||            /|   |\         |/XXXX     #
#       ||              ^ ^              |       #
##################################################</pre>
</div>
<div class="span4">
    <h2>pf 2013</h2>
    <div style="font-size:1.2em;text-align: justify;">
    <p>Merry Christmas and lot of health, happiness and success in year 2013</p>
    <p>Krásné prožití Vánočních svátků a hodně zdraví, stěstí a úspěchu do roku 2013</p>
    </div>
    <p>Download as plain text <a href="/static/pf/pf2013.txt">pf2013.txt (4kB)</a>
    <br>Download as image white on black <a href="/static/pf/pf2013.png">pf2013.png (12kB)</a>
    <br>Download as image black on white <a href="/static/pf/pf2013inverted.png">pf2013inverted.png (12kB)</a>
    </p>
    <p style="text-align: justify;">Jan Syrinek inspired me to create text pf2013. He points to unnecessary size of image file.
    <br>Jan Syřínek mě inspiroval k vytvoření tohoto pf2013. Ukázal na zbytečnou velikost obrázkových souborů.
    </p>
</div>
</div>
{% endblock base_content %}