{% extends "base.html" %}
{% block base_content %}
<style type="text/css">
.block1 {
    min-height: 130px;
}
.opensource {
    background-image: url("/static/img/open-source25.png");
    background-repeat: no-repeat;
    background-position: top right;
}
</style>
<h2>Main projects</h2>
<div class="row">
    <!-- <div class="span3 block1">
        <h3>OCW Platform</h3>
        <p>Open platform for your own elearning courses.
        <br><a href="http://ocwplatform.com"><b>ocwplatform.com</b></a></p>
    </div> -->
    <!-- <div class="span3 block1">
       <h3>Senior OS</h3>
	   <p>Simple cloud envoroment for elementary control PC in browser.</p>
    </div> -->
    <!-- <div class="span3 block1">
        <h3>DjangoHost.cz</h3>
        <p>Czech WSGI hosting.
        <br><a href="http://djangohost.cz"><b>djangohost.cz</b></a></p>
    </div> -->
    <!-- <div class="span3 block1">
        <h3>PubFS.com</h3>
        <p>Smart sharing data from your filesystem on internet.
        <br><a href="http://pubfs.com"><b>pubfs.com</b></a></p>
    </div> -->
    <!-- <div class="span3 block1">
        <h3>GIT-host.cz</h3>
        <p>Czech host of your own GIT repositories.
        <br><a href="http://git-hist.cz"><b>git-host.cz</b></a></p>
    </div> -->
    <div class="span3 block1">
        <h3>mTrial</h3>
        <p>Portal for practicing math examples for University of West Bohemia.
        <br><a href="http://mtrial.zcu.cz"><b>mtrial.zcu.cz</b></a></p>
    </div>
    <div class="span3  block1 opensource">
       <h3>Sitron</h3>
        <p>OpenSource tool for organize orienteering.</p>
    </div>
    <div class="span3 block1">
       <h3>ProdejKnihu.cz</h3>
        <p>Free secondhand bookshop.
        <br><a href="http://prodejknihu.cz"><b>www.prodejknihu.cz</b></a></p>
    </div>
    <div class="span3 block1">
       <h3>PHPhost.cz</h3>
        <p>PHP hosting service for PHP5, MySQL5, Nette, WordPress, Joomla, Magento, ...
        <br><a href="http://php.h4y.cz"><b>www.phphost.cz</b></a></p>
    </div>
</div>
<h2>Open Source</h2>
<div class="row">
<div class="span3 opensource">
        <h3>DjangoVoid</h3>
        <p>Preconfigured Django project for Django 1.4
        <br><a href="http://bitbucket.org/sikaondrej/djangovoid"><b>bitbucket.org djangovoid</b></a>
        </p>
    </div>
    <div class="span3 opensource">
        <h3>DjangoVoid Extensions</h3>
        <p>Plugins for quick add to DjangoVoid
        <br><a href="http://bitbucket.org/sikaondrej/djangovoid-extensions"><b>bitbucket.org djangovoid-extensions</b></a>
        </p>
    </div>
    <div class="span3 opensource">
        <h3>Django CMS templates</h3>
        <p> My and free templates prepared for DjangoCMS
        <br><a href="http://bitbucket.org/sikaondrej/django-cms-templates"><b>bitbucket.org django-cms-templates</b></a>
        </p>
    </div>
    <div class="span3 opensource">
        <h3>Save Form</h3>
        <p>Simple app for save form data from static HTML pages
        <br><a href="http://bitbucket.org/sikaondrej/saveform"><b>bitbucket.org saveform</b></a>
        </p>

    </div>
    <div class="span3 opensource">
        <h3>SSM</h3>
        <p>Tool for manage nginx/apache2 servers for PHP
        <br><a href="http://bitbucket.org/sikaondrej/ssm"><b>bitbucket.org ssm</b></a>
        </p>
    </div>
</div>
{% endblock base_content %}
