{% extends "base.html" %}

{% block base_content %}

<img src="/static/img/sitron_logo_header.png" height="28" style="margin-left:10px;">
  <h2 class="logo" style="display:inline-block;">Sitron project</h2>
  <h3>O projektu</h3>
  <p>Projekt Sitron byl vytvořen, protože není žádný pořádjný nástroj, pro pořádání závodů v Orientačním běhu, který funguje na Linuxu.</p>
  <p>Tento projekt je OpenSource, šířen pod licencí <a href="http://www.gnu.org/licenses/gpl-3.0.en.html">GNU/GPL v.3</a>.</p>
  <h3>Autoři</h3>
  <ul>
    <li><b>Ondřej Šika</b> <a href="mailto:sika.ondrej@gmail.com">sika.ondrej@gmail.com</a> <a href="http://ondrejsika.com">www.ondrejsika.com</a></li>
    <li><b>František Kolovský</b> <!-- <a href="mailto:f.kolovsky@gmail.com">f.kolovsky@gmail.com</a> --></li>
    <li><b>Marek Sterzik</b></li>
  </ul>
  <h3>Download</h3>
  <p>Projekt je hostován na Bitbucketu, kde je aktuální verze ke stažení</p>
  <ul>
    <li><b>sitron-server</b> <a href="https://bitbucket.org/sikaondrej/sitron-server">https://bitbucket.org/sikaondrej/sitron-server</a></li>
  </ul>
  <h3>Dokumentace</h3>
  <h4>URL API</h4>
  <p>Androidí / desktopová aplikace pošle http požadavek na server kde beží sitron (sitron.app.ondrejsika.com) a on zpracuje přijatá data a vrátí odpověď.</p>
  <h4>Záznam z rádiokontroly</h4>
  <p>Sitroin naslouchá na url <b>/api/save_si_data/</b>, všechny požadavky na tuto url se snaží spracovat jako nové ražení radiokontroly. Data jsou posílína v GET parametrech:</p>
    <ul>
        <li><b>si</b> - číslo čipu</li>
        <li><b>checkpoint_id</b> - kód kontroly</li>
        <li><b>race_pk</b> - id závodu</li>
    </ul>
  <p>Pokud vše proběhne v pořádku, server odpoví "OK", pokud ne, odpoví "err".
    <br>Příklad url requestu je <b>/api/save_si_data/?si=236993&amp;race_pk=1&amp;checkpoint_id=100
</b>
  </p>
{% endblock base_content %}