{% extends "base.html" %}
{% block base_content %}
<div class="row">
    <div class="span3">
        <h3>DjangoVoid</h3>
        <p>Preconfigured Django project for Django 1.4</p>
    </div>
    <div class="span3">
       <h3>Sitron</h3>
	<p>OpenSource tool for organize orienteering</p>
    </div>
    <div class="span3">
        <h3>Django CMS templates</h3>
        <p> My and free templates prepared for DjangoCMS</p>
    </div>
    <div class="span3">
        <h3>Save Form</h3>
        <p>Simple app for save form data from static HTML pages</p>
    </div>
</div>
{% endblock base_content %}
