{% extends "base.html" %}
{% block content %}
<div>
    <div class="span4">
        <h2>My projects</h2>
        <h3>ProdejKnihu.cz</h3>
        <p>Online book peer-to-peer book store, focused to Czech.</p>
        <p><a href="http://prodejknihu.cz/" target="blank">http://prodejknihu.cz</a></p>
        <h3>html packages</h3>
        <p>Simply loading packages with js and css. Read more <a href="http://htmlpkg.com" target="blank">htmlpkg.com</a></p>
        <h3>Touch the space</h3>
        <p>Send helium balloon on the edge of the space. More detail in Czech language on <a href="http://touchthespace.eu" target="blank">touchthespace.eu</a></p>
    </div>
    <div class="span4 offset1">
        <h2>Cooperate with</h2>
        <!-- <h3>Arounded</h3>
        AirBnB with cars <a href="http://arounded.com" target="blank">arounded.com</a> -->
        <h3>Zelená mapa</h3>
        Green map of Prague
        <a href="http://zelenamapa.cz" target="blank">zelenamapa.cz</a>
        <h3>Do práce na kole</h3>
        Bike to work competition
        <a href="http://dopracenakole.net" target="blank">dopracenakole.net</a>
    </div>
</div>
{% endblock content %}