{% extends "base.html" %}

{% block base_content %}

<img src="/static/img/djangovoid_official.png" height="26" style="margin-left:10px;">
  <h2 class="logo" style="display:inline-block;">DjangoVoid</h2>
  <h3>O projektu</h3>
  <p>DjangoVoid je předkonfigurovaný Django 1.4 projekt pro zednodušení, vytvoření a konfigurace Django projektu a jeho spuštění na serveru.</p>
  <p>Tento projekt je OpenSource, šířen pod licencí <a href="http://www.gnu.org/licenses/lgpl-3.0.en.html">GNU/LGPL v.3</a>. Zdrojové kódy ke stažení na bitbucketu <a href="http://bitbucket.org/sikaondrej/djangovoid">http://bitbucket.org/sikaondrej/djangovoid</a>.</p>
  <h3>Dokumentace</h3>
  <p>Dokumentace i projekt je ve vývoji, pro jakékoliv nejasnosti pište na <a href="mailto:djangovoid@ondrejsika.com">djangovoid@ondrejsika.com</a>.</p>
  <h4>Instalace</h4>
  <p>Stáhněte nebo naklonujte DjangoVoid do adresáře, který jste pojmenovyli tak, jak se má jmenovat váš projekt. Například "git clone https://sikaondrej@bitbucket.org/sikaondrej/djangovoid.git /home/sika/projects/new_project".<br>
  Potom je nutné spustit script setup.py, který stáhne django a vytvoří virtualenv "python setup.py"</p>
{% endblock base_content %}