{% extends "base.html" %}
{% block content %}
<h2>Publishing</h2>
<h3>Articles</h3>
<table>
    <tr>
        <td>RSA šifrování v Pythonu</td>
        <td>CZ</td>
        <td>30. 1. 2013</td>
        <td><a href="http://blog.ondrejsika.com/a/rsa-sifrovani-v-pythonu/" target="blank">blog.ondrejsika.com</a></td>
    </tr>
    <tr>
        <td>Zálohování IP kamer pomocí nástroje srec</td>
        <td>CZ</td>
        <td>29. 1. 2013</td>
        <td><a href="http://blog.ondrejsika.com/a/zalohovani-ip-kamer-pomoci-nastroje-srec/" target="blank">blog.ondrejsika.com</a></td>
    </tr>
    <tr>
        <td>VIM - naprosté základy</td>
        <td>CZ</td>
        <td>29. 1. 2013</td>
        <td><a href="http://blog.ondrejsika.com/a/vim-naproste-zaklady/" target="blank">blog.ondrejsika.com</a></td>
    </tr>
    <tr>
        <td>Python tutorial (1) - Základní info, datové typy</td>
        <td>CZ</td>
        <td>29. 1. 2013</td>
        <td><a href="http://blog.ondrejsika.com/a/python-tutorial-1-zakladni-info-datove-typy/" target="blank">blog.ondrejsika.com</a></td>
    </tr>
    <tr>
        <td>Automatické přihlášení do proxy ...</td>
        <td>CZ</td>
        <td>29. 1. 2013</td>
        <td><a href="http://blog.ondrejsika.com/a/automaticke-prihlaseni-do-proxy-brany-pomoci-http-requestu/" target="blank">blog.ondrejsika.com</a></td>
    </tr>
    <tr>
        <td>Tvorba Python balíčku</td>
        <td>CZ</td>
        <td>2. 1. 2013</td>
        <td><a href="http://blog.ondrejsika.com/a/tvorba-python-balicku/" target="blank">blog.ondrejsika.com</a></td>
    </tr>
    <tr>
        <td>Založení vlastního APT repozizáře</td>
        <td>CZ</td>
        <td>2. 1. 2013</td>
        <td><a href="http://blog.ondrejsika.com/a/zalozeni-vlastniho-apt-repozizare/" target="blank">blog.ondrejsika.com</a></td>
    </tr>
    <tr>
        <td>Automatická záloha MySQL</td>
        <td>CZ</td>
        <td>1. 1. 2013</td>
        <td><a href="http://blog.ondrejsika.com/a/automaticka-zaloha-mysql/" target="blank">blog.ondrejsika.com</a></td>
    </tr>
    <tr>
        <td>Linux X aplikace na Androidu</td>
        <td>CZ</td>
        <td>1. 1. 2013</td>
        <td><a href="http://blog.ondrejsika.com/a/linux-x-aplikace-na-androidu/" target="blank">blog.ondrejsika.com</a></td>
    </tr>
    <tr>
        <td>Tvorba DEB balíčků</td>
        <td>CZ</td>
        <td>1. 1. 2013</td>
        <td><a href="http://blog.ondrejsika.com/a/tvorba-deb-balicku/" target="blank">blog.ondrejsika.com</a></td>
    </tr>
</table>
{% endblock content %}