{% extends "base.html" %}
{% block content %}
<h2>Publishing</h2>
<table>
    <tr>
        <td>Automatické přihlášení do proxy ...</td>
        <td>CZ</td>
        <td>29. 1. 2013</td>
        <td><a href="http://blog.ondrejsika.com/a/automaticke-prihlaseni-do-proxy-brany-pomoci-http-requestu/">blog.ondrejsika.com</a></td>
    </tr>
    <tr>
        <td>Tvorba Python balíčku</td>
        <td>CZ</td>
        <td>2. 1. 2013</td>
        <td><a href="http://blog.ondrejsika.com/a/tvorba-python-balicku/">blog.ondrejsika.com</a></td>
    </tr>
    <tr>
        <td>Založení vlastního APT repozizáře</td>
        <td>CZ</td>
        <td>2. 1. 2013</td>
        <td><a href="http://blog.ondrejsika.com/a/zalozeni-vlastniho-apt-repozizare/">blog.ondrejsika.com</a></td>
    </tr>
    <tr>
        <td>Automatická záloha MySQL</td>
        <td>CZ</td>
        <td>1. 1. 2013</td>
        <td><a href="http://blog.ondrejsika.com/a/automaticka-zaloha-mysql/">blog.ondrejsika.com</a></td>
    </tr>
    <tr>
        <td>Linux X aplikace na Androidu</td>
        <td>CZ</td>
        <td>1. 1. 2013</td>
        <td><a href="http://blog.ondrejsika.com/a/linux-x-aplikace-na-androidu/">blog.ondrejsika.com</a></td>
    </tr>
    <tr>
        <td>Tvorba DEB balíčků</td>
        <td>CZ</td>
        <td>1. 1. 2013</td>
        <td><a href="http://blog.ondrejsika.com/a/tvorba-deb-balicku/">blog.ondrejsika.com</a></td>
    </tr>
</table>
{% endblock content %}