{% extends "base.html" %}
{% block base_content %}

<h2>Site map</h2>
<ul>
  <li><p>
    <a href="/">ondrejsika.com</a>
    <br>My profile
  </p></li>
  <li><p>
    <a href="http://blog.ondrejsika.com">blog.ondrejsika.com</a>
    <br>My blog
  </p></li>
  <li><p>
    <a href="http://djangovoid.ondrejsika.com">djangovoid.ondrejsika.com</a>
    <br>Official page of DjangoVoid project
  </p></li>
  <li><p>
    <a href="http://sitron.ondrejsika.com">sitron.ondrejsika.com</a>
    <br>Official page of Sitron project
  </p></li> 
  <li><p>
    <a href="http://hosting.ondrejsika.com">hosting.ondrejsika.com</a>
    <br>Tariff of my hosting
  </p></li>
  <li><p>
    <a href="http://drive.ondrejsika.com">drive.ondrejsika.com</a>
    <br>Public file system
  </p></li>
  <li><p>
    <a href="http://upload.ondrejsika.com">upload.ondrejsika.com</a>
    <br>Uploader for file for me (max size of file is 100MB)
  </p></li>
  <li><p>
    <a href="http://srv.ondrejsika.com">srv.ondrejsika.com</a>
    <br>List of my servers
  </p></li>

</ul>

{% endblock base_content %}