{% extends "base.html" %}
{% block content %}

<h2>Snippets</h2>

<a href="#gmail-settings-for-django"><h3 id="gmail-settings-for-django">Gmail settings for Django</h3></a>
<pre>
EMAIL_HOST = 'smtp.gmail.com'
EMAIL_HOST_USER = 'username@gmail.com'
EMAIL_HOST_PASSWORD = 'password'
EMAIL_PORT = 587 
EMAIL_USE_TLS = True
SERVER_EMAIL = EMAIL_HOST_USER
DEFAULT_FROM_EMAIL = EMAIL_HOST_USER
</pre>

<a href="#font-border-css"><h3 id="#font-border-css">Font border CSS</h3></a>
<pre>
h1 {
    text-shadow: -2px 2px  #444444, 2px -2px  #444444, 2px 2px  #444444, -2px -2px  #444444;
}
</pre>

<a href="#rsync-with-ftp-server"><h3 id="rsync-with-ftp-server">Rsync with FTP server</h3></a>
<p>Install <code>curlftpfs</code></p>
<pre>
sudo apt-get install curlftpfs
</pre>
<p>Mount ftp filesystem</p>
<pre>
sudo curlftpfs user:password@server.com /mnt/ftpserver/ -o allow_other
</pre>
<p>Start rsync</p>
<pre>
rsync -asvz --no-owner --no-group /var/www /mnt/ftpserver/
</pre>

<a href="#mount-ftp-server"><h3 id="mount-ftp-server">Mount FTP server</h3></a>
<pre>
sudo curlftpfs user:password@server.com /mnt/ftpserver/ -o allow_other
</pre>

<a href="#static-server-on-nginx"><h3 id="static-server-on-nginx">Static server on NGINX</h3></a>
<pre>
server {
    listen 80; 
    server_name static.gg365.eu ;
    root /var/static/;
    location / { 
    autoindex on; 
    index index.html;
    }   
}
</pre>

<a href="#inline-if-python"><h3 id="inline-if-python">Inline IF in Python</h3></a>
<pre>
>>> var = True
>>>"true" if var else "false"
"true"
>>> var = False
>>> "true" if var else "false"
"false"
</pre>

<a href="#copy-file-to-ftp-server"><h3 id="copy-file-to-ftp-server">Copy file to ftp server</h3></a>
<h4>bash</h4>
<p>Run <code>./ftp.sh user pass server.com /home/sika file.txt</code></p>
<pre>
#!/bin/sh
USERNAME=$1
PASSWORD=$2
SERVER=$3
DIR=$4
FILE=$5

cd $DIR
ftp -n -i $SERVER &lt;&lt;EOF
user $USERNAME $PASSWORD
binary
mput $FILE
quit
EOF
</pre>

<h4>python arguments parse</h4>
<p>Run <code>./ftp.py user:pass@server.com /home/sika/file.txt</code></p>
<pre>
#!/usr/bin/python
import os
import sys

login, server = sys.argv[1].split("@")
username, password = login.split(":")

filepath = os.path.abspath(os.path.join(os.path.dirname(__file__), sys.argv[2]))
dirname = os.path.dirname(filepath)
filename = filepath.replace(dirname+"/", "")

os.system("""
cd %(dirname)s
ftp -n -i %(server)s &lt;&lt;EOF
user %(username)s %(password)s
binary
mput %(filename)s
quit
EOF
""" % {
    "dirname": dirname,
    "username": username,
    "password": password,
    "server": server,
    "filename": filename,
})
</pre>
<p>Source <a href="http://ubuntuforums.org/showthread.php?t=1663776&p=10338511#post10338511" target="blank">http://ubuntuforums.org/showthread.php?t=1663776&p=10338511#post10338511</a></p>

<a href="#jquery-checkbox-toggle"><h3 id="jquery-checkbox-toggle">jQuery checkbox toggle</h3></a>
<pre>
$(function() {
    $("#button").click(function() {
        $("#input").trigger('click');
    });
});
</pre>
or
<pre>
$(function() {
    $("#button").click(function() {
        var checkbox = $("#input");
        checkbox.attr("checked", !checkbox.attr("checked"));
    });
});
</pre>


<a href="#encrypt-decrypt-openssl"><h3 id="encrypt-decrypt-openssl">Encrypt &amp; decrypt via OpenSSL</h3></a>
<h4>Encrypt</h4>
<pre>sika@thinkpad:~$ echo 'foo' | openssl aes-256-cbc -a -salt
enter aes-256-cbc encryption password: [passphrase hidden]
Verifying - enter aes-256-cbc encryption password: [passphrase hidden]
U2FsdGVkX1/QGdl4syQE8bLFSr2HzoAlcG299U/T/Xk=
</pre>
<h4>Decrypt</h4>
<pre>sika@thinkpad:~$ echo 'U2FsdGVkX1/QGdl4syQE8bLFSr2HzoAlcG299U/T/Xk=' | openssl aes-256-cbc -a -d -salt
enter aes-256-cbc decryption password: [passphrase hidden]
foo
</pre>
Source <a href="http://projects.skurfer.com/posts/string_encryption/" target="blank">http://projects.skurfer.com/posts/string_encryption/</a>

<a href="#google-geo-api-address-components"><h3 id="google-geo-api-address-components">Get address components from Google Geo API</h3></a>
<h4>Python</h4>
<pre>def get_geolocation(result):
    address = ["", "", "", ""]
    for obj in result["address_components"]:
        if "locality" in obj["types"]:
            address[0] = obj["long_name"]
        if "administrative_area_level_1" in obj["types"]:
            address[1] = obj["long_name"]
        if "country" in obj["types"]:
            address[2] = obj["long_name"]
    return  tuple(address)

import requests
import json

url = "http://maps.googleapis.com/maps/api/geocode/json?latlng=40,-76&sensor=false"
print get_geolocation(json.loads(requests.get(url).text)["results"][0])
url = "http://maps.googleapis.com/maps/api/geocode/json?latlng=50,13&sensor=false"
print get_geolocation(json.loads(requests.get(url).text)["results"][0])
</pre>
<h4>JavaScript</h4>
<p>Requires jQuery</p>
<pre>function get_geolocation(lat, lon, callback){
    url = "http://maps.googleapis.com/maps/api/geocode/json?latlng="+lat+","+lon+"&sensor=false";
    $.getJSON(url, function(json){
        address = ["", "", "", ""];
        json["results"][0]["address_components"].forEach(function(obj){
            if (obj["types"].indexOf("locality") != -1) address[0] = obj["long_name"];
            if (obj["types"].indexOf("administrative_area_level_1") != -1) address[1] = obj["long_name"];
            if (obj["types"].indexOf("country") != -1) address[2] = obj["long_name"];
        })
        callback(address);
    });
}
</pre>

<a href="#redmine-gmail-config"><h3 id="redmine-gmail-config">Redmine gmail config</h3></a>
To file <code>config/configuration.yml</code> append this.
<pre>production:
    delivery_method: :smtp
    smtp_settings:
       address: smtp.gmail.com
       port: 587
       domain: gmail.com
       authentication: :login
       user_name: "username@gmail.com"
       password: "password"
</pre>
{% endblock content %}