{% extends "base.html" %}
{% block content %}
<div class="row">
  <div class="span3">
    <h2>Social profiles</h2>
    <a href="http://plus.google.com/u/0/103792510103800752680/about" target="blank">Google +</a>
    <br><a href="http://facebook.com/sikaondrej2" target="blank">Facebook</a>
    <br><a href="http://twitter.com/sikaondrej" target="blank">Twitter</a>
    <br><a href="http://cz.linkedin.com/pub/ondrej-sika/56/595/a62" target="blank">LinkedIn</a>
    <br><a href="http://people.djangoproject.com/sikaondrej/" target="blank">DjangoPeople</a>
  </div>
  <div class="span3">
    <h2>Code</h2>
    <br><a href="http://github.com/sikaondrej" target="blank">GitHub</a>
    <br><a href="http://bitbucket.org/sikaondrej" target="blank">Bitbucket</a>
    <br><a href="http://stackoverflow.com/users/1176853/ondrej-sika" target="blank">Stack Overflow</a>
    <br><a href="http://www.codecademy.com/users/sikaondrej" target="blank">Code Acacemy</a>
    <br><a href="http://www.codeschool.com/users/sika" target="blank">Code School</a>
    <br><a href="https://compilr.com/sikaondrej" target="blank">Compilr</a>
    <br><a href="http://plnkr.co/users/sikaondrej" target="blank">Plunker</a>
    <br><a href="http://codepen.io/sikaondrej" target="blank">CodePen</a>

  </div>
  <div class="span3">
    <h2>Other</h2>
    <a href="http://instagram.com/sikaondrej" target="blank">Instagram</a>
    <br><a href="http://lanyrd.com/profile/sikaondrej/" target="blank">Lanyrd</a>
    <br><a href="http://srazy.info/lide/ondrej-sika-2" target="blank">srazy.info</a>
    <br><a href="https://speakerdeck.com/sikaondrej" target="blank">Speaker Deck</a>
    <br><a href="http://ask.fm/sikaondrej" target="blank">Ask.fm</a>
    <br><a href="http://www.meetup.com/members/84973902/" target="blank">Meetup</a>
    <br><a href="https://www.airbnb.com/users/show/4711284" target="blank">AirBnB</a>
    <br><a href="http://www.kickstarter.com/profile/642208217" target="blank">Kick Starter</a>
  </div>
</div>
{% endblock content %}
