{% extends "base.html" %}
{% block content %}
<h2>Social profiles</h2>
<p>
  <a href="http://twitter.com/sikaondrej" target="blank">Twitter</a>
  <br>
  <a href="http://bitbucket.org/sikaondrej" target="blank">Bitbucket</a>
  <br>
  <a href="http://github.com/sikaondrej" target="blank">GitHub</a>
  <br>
  <a href="http://plus.google.com/u/0/103792510103800752680/about" target="blank">Google +</a>
  <br>
  <a href="http://facebook.com/sikaondrej2" target="blank">Facebook</a>
  <br>
  <a href="http://cz.linkedin.com/pub/ondrej-sika/56/595/a62" target="blank">LinkedIn</a>
  <br>
  <a href="http://people.djangoproject.com/sikaondrej/" target="blank">DjangoPeople</a>
  <br>
  <a href="https://speakerdeck.com/sikaondrej" target="blank">Speaker Deck</a>
  <br>
  <a href="http://www.codeschool.com/users/sika" target="blank">Code School</a>
</p>
{% endblock content %}