{% extends "base.html" %}

{% set upcoming = [
    ["20. 9. 2013", "Nativní Android aplikace v HTML5 jednoduše! (Praha)", "/page/nativni-android-aplikace-v-html5-jednoduse", "info", "CZ"],
    ["13. 9. 2013", "Nativní Android aplikace v HTML5 jednoduše! (Plzeň)", "/page/nativni-android-aplikace-v-html5-jednoduse", "info", "CZ"],
    ["", "Flask, Pyvo Plzeň", "", "CZ"],
] %}
{% set past = [
] %}

{% block content %}
<h2>Talks</h2>
<h3>Upcoming</h3>
{% if upcoming %}
    <table class="table">
        {% for row in upcoming %}
            <tr>
                <td>{{row.0}}</td>
                <td>{{row.1}}</td>
                <td>{% if row.2 and row.3 %}<a href="{{row.2}}" target="blank">{{row.3}}</a>{% endif %}</td>
                <td>{{row.4}}</td>
            </tr>
        {% endfor %}
    </table>
{% else %}
    No upcoming talks yet.
{% endif %}

<h3>Past</h3>
{% if past %}
    <table class="table">
        {% for row in past %}
            <tr>
                <td>{{row.0}}</td>
                <td>{{row.1}}</td>
                <td>{% if row.2 and row.3 %}<a href="{{row.2}}" target="blank">{{row.3}}</a>{% endif %}</td>
                <td>{{row.4}}</td>
            </tr>
        {% endfor %}
    </table>
{% else %}
    No past talks yet.
{% endif %}
{% endblock content %}