td, th {
    padding-right: 20px;
}

.site-header {
    display: block;
    margin-top: 20px;
    font-size: 1.2em;
    color: black;
}

@media print {
    .noprint {
        display: none;
    }
}

.footer {
    text-align: left;
}

body {
    margin: 0.5em auto;
    max-width: 50em;
    font-weight: normal;
    font-family: 'cmu_typewriter', monospace;
    color: #3c3c3c;
    font-size: 1.15em;
}

.content-wrap {
    margin: 1em;
}

b, strong, h1, h2, h3, h4, h5, h6, th {
    color: black;
    margin: 0;
}

ul {
    margin-left: -10px;
}

