html {
    font-family: monospace;
}

hr {
    border: none;
    border-top: solid 1px;
    color: black;
    margin-bottom: 15px;
}

hr.footer {
    margin: 30px 0 10px 0;
    padding: 0;
    border: none;
    border-top: medium double #333;
    color: #333;
    text-align: center;
}

h1, h2, h3, h4, h5, h6 {
    margin: 5px 0;
    font-weight: bold;
}


p, ul {
    font-size: 1.04em;
    margin: 7px 0;
}

ul {
    padding-left: 20px;
}

h2 {font-size: 1.9em}
h3 {font-size: 1.6em}
h4 {font-size: 1.3em}
h5 {font-size: 1.2em}

