* {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial;
    padding: 20px;
    background-color: #fcfcfc;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: normal;
}

h1 {font-size: 36px;}
h2 {font-size: 34px;}
h3 {font-size: 28px;}
h4 {font-size: 22px;}
h5 {font-size: 16px; font-weight: bold;}
h6 {font-size: 14px; font-style: italic;}

p, ul, table {
    margin-bottom: 15px;
}

td {
    padding-right: 15px;
}

ul {
    /*list-style-type: none;*/
    padding-left: 20px;
}

ol li {
    margin-left: 25px;
}

/*li, p, table {
    margin-left: 20px;
}*/

hr {
    border: none;
    border-top: solid 1px;
    color: black;
}
.menu {
    margin: 2px;
}

.menu a {
    text-decoration: none;
}

h1 span {
    font-size: 0.45em;
    /*color: #888888;*/
}

pre {
    border: solid 1px;
    padding: 7px;
    margin-bottom: 15px;
}

code {
    border: solid 1px;
    padding: 1px 2px;
}

pre code {
    border: none;
    padding: 0;
}
