<title>Bitcoin Block Parser</title>
<h1>Bitcoin Block Parser</h1>
<hr>
<script src="angular.js"></script>
<script>
    app = angular.module('app', []);
    app.controller('MainController', function($scope) {
        $scope.blocks = [];

        $scope.parse = function(header){
            var header_obj = {};
            header_obj.version = header.substring(0, 2*4);
            header_obj.prev_hash = header.substring(2*4, 2*36);
            header_obj.merkle_root = header.substring(2*36, 2*68);
            header_obj.time = header.substring(2*68, 2*72);
            header_obj.bits = header.substring(2*72, 2*76);
            header_obj.nonce = header.substring(2*76, 2*80);
            return header_obj;
        };

        $scope.do_parse = function(){
            if ($scope.header.length != 2*80) {
                alert('Wrong length');
                return;
            }
            $scope.blocks.push($scope.parse($scope.header));
            $scope.header = '';
        };
    })
</script>
<div ng-app="app" ng-controller="MainController">
    <input ng-model="header">
    <button ng-click="do_parse()">parse</button>
    <hr>
    <table>
        <tr>
            <th>version</th>
            <th>prev hash</th>
            <th>merkle root</th>
            <th>time</th>
            <th>bits</th>
            <th>nonce</th>
        </tr>
        <tr ng-repeat="block in blocks">
            <td style="color: green">{{ block.version }}</td>
            <td style="color: red">{{ block.prev_hash }}</td>
            <td style="color: green">{{ block.merkle_root }}</td>
            <td style="color: red">{{ block.time }}</td>
            <td style="color: green">{{ block.bits }}</td>
            <td style="color: red">{{ block.nonce }}</td>
        </tr>
    </table>
</div>

