<title>Zcash Block Parser</title>
<h1>Zcash Block Parser</h1>
<hr>
<script src="angular.js"></script>
<script>
    app = angular.module('app', []);
    app.controller('MainController', function($scope) {
        $scope.blocks = [];

        $scope.parse = function(header){
            var header_obj = {};
            header_obj.version = header.substring(0, 2*4);
            header_obj.prev_hash = header.substring(2*4, 2*36);
            header_obj.merkle_root = header.substring(2*36, 2*68);
            header_obj.hash_reserved = header.substring(2*68, 2*100);
            header_obj.time = header.substring(2*100, 2*104);
            header_obj.bits = header.substring(2*104, 2*108);
            header_obj.nonce = header.substring(2*104, 2*140);
            header_obj.solution_size = header.substring(2*140, 2*143);
            header_obj.solution = header.substring(2*143, 2*1487);
            return header_obj;
        };

        $scope.do_parse = function(){
            if ($scope.header.length < 2*80) {
                alert('Too short: not 80 bytes hexa.');
                return;
            }
            $scope.blocks.push($scope.parse($scope.header));
            $scope.header = '';
        };
    })
</script>
<div ng-app="app" ng-controller="MainController">
    <input ng-model="header">
    <button ng-click="do_parse()">parse</button>
    <hr>
    <table>
        <tr>
            <th>version</th>
            <th>prev hash</th>
            <th>merkle root</th>
            <th>hash reserved</th>
            <th>time</th>
            <th>bits</th>
            <th>nonce</th>
            <th>solution size</th>
            <th>solution</th>
        </tr>
        <tr ng-repeat="block in blocks">
            <td style="color: green">{{ block.version }}</td>
            <td style="color: red">{{ block.prev_hash }}</td>
            <td style="color: green">{{ block.merkle_root }}</td>
            <td style="color: red">{{ block.hash_reserved }}</td>
            <td style="color: green">{{ block.time }}</td>
            <td style="color: red">{{ block.bits }}</td>
            <td style="color: green">{{ block.nonce }}</td>
            <td style="color: red">{{ block.solution_size }}</td>
            <td style="color: green">{{ block.solution }}</td>
        </tr>
    </table>
</div>

