---
layout: base
---
<div class="container">
<div class="row">
<div class="col-md-8 col-md-offset-2">
{% if page.noheader %}
{% else %}
<span class="site-header">Ondrej Sika</span>
<p style="font-size: 12px">Create a better world.</p>
<hr>
{% endif %}
{{content}}
<hr>
<p class="footer"><span class="noprint"><a href="/site-index.html">index</a> / <a href="/">home</a> / <a href="/impressum.html">impressum</a> / since&nbsp;2012 </span><b>Ondrej&nbsp;Sika</b><span class="noprint">&nbsp;&lt;</span><a href="mailto:ondrej@ondrejsika.com"><span class="noprint">ondrej@ondrejsika.com</span></a><span class="noprint">&gt;</span></p>
</div>
</div>
</div>

