---
layout: base
---

<h1>Ondrej Sika <span>ondrejsika.com</span></h1>
<hr>
<p class="menu">
~ <a href="/">home</a>
~ <a href="/about-me.html">about me</a>
~ <a href="/projects.html">projects</a>
~ <a href="/school">school</a>
~ <a href="/blog.html">blog</a>
<!-- ~ <a href="/talks">talks</a> -->
~ <a href="http://drive.ondrejsika.com">drive</a>
~ <a href="/my-accounts.html">my accounts</a>
~ <a href="/pgp.html">pgp</a>
~ <a href="/contact.html">contact</a>
~ <a href="/others">others</a>
~
</p>
<hr style="margin-bottom:10px">
{{content}}
