* {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial;
    padding: 20px;
    background-color: #fcfcfc;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: normal;
}

h1 {font-size: 36px;}
h2 {font-size: 32px;}
h3 {font-size: 28px;}
h4 {font-size: 24px;}
h5 {font-size: 20px;}
h6 {font-size: 18px;}

p, ul, table {
    margin-bottom: 15px;
}

td {
    padding-right: 15px;
}

ul {
    list-style-type: none;
}

/*li, p, table {
    margin-left: 20px;
}*/

hr {
    border: none;
    border-top: solid 1px;
}
.menu {
    margin: 0;
}

h1 span {
    font-size: 0.45em;
    /*color: #888888;*/
}