{% extends "base.html" %}
{% block content %}
<h2>School</h2>
<h3>Středoškolská odborná činnost</h3>
<h4>Invoice generator web (2012)</h4>
<a href="/static/content/school/soc/SOC_doc_2012.pdf" target="blank">Documentation in PDF (CZ)</a>, <a href="/static/content/school/spse/SOC_prez_2012.pdf" target="blank">Presentation in PDF (CZ)</a>
<h4>Invoice generator desktop (2011)</h4>
<a href="/static/content/school/soc/SOC_doc_2011.pdf" target="blank">Documentation in PDF (CZ)</a>, <a href="/static/content/school/soc/SOC_prez_2011.pdf" target="blank">Presentation in PDF (CZ)</a>
<h3>SPSE Pilsen</h3>
<h4>4.th</h4>
1. Reproduktory
<a href="/static/content/school/spse/4th/01_Reproduktory.pdf" target="blank">pdf</a>
<a href="/static/content/school/spse/4th/01_Reproduktory.tar.gz" target="blank">source</a>
<br>
2. Stabilizátory
<a href="/static/content/school/spse/4th/02_Stabilizatory.pdf" target="blank">pdf</a>
<a href="/static/content/school/spse/4th/02_Stabilizatory.tar.gz" target="blank">source</a>
<br>
3. Dvojbrany
<a href="/static/content/school/spse/4th/03_Dvojbrany.pdf" target="blank">pdf</a>
<a href="/static/content/school/spse/4th/03_Dvojbrany.tar.gz" target="blank">source</a>
<br>
<h4>3.rd</h4>
12. Měření parametrů střídavých signalů
<a href="/static/content/school/spse/3rd/12_Mereni_parametru_stridavych_signalu.pdf" target="blank">pdf</a>
<a href="/static/content/school/spse/3rd/12_Mereni_parametru_stridavych_signalu.tar.gz" target="blank">source</a>
<br>
14. Vlastní indukčnost
<a href="/static/content/school/spse/3rd/14_Vlastni_inukcnost.pdf" target="blank">pdf</a>
<a href="/static/content/school/spse/3rd/14_Vlastni_inukcnost.tar.gz" target="blank">source</a>
<br>
15. Jalový výkon
<a href="/static/content/school/spse/3rd/15_Jalovy_vykon.pdf" target="blank">pdf</a>
<a href="/static/content/school/spse/3rd/15_Jalovy_vykon.tar.gz" target="blank">source</a>
<br>
16. Činný výkon
<a href="/static/content/school/spse/3rd/16_Cinny_vykon.pdf" target="blank">pdf</a>
<a href="/static/content/school/spse/3rd/16_Cinny_vykon.tar.gz" target="blank">source</a>
<br>
{% endblock content %}