{% extends "base.html" %}
{% block content %}
<h2>Blog</h2>

{% set posts = [
    "/blog/cz/tvorba-deb-balicku",
    "/blog/cz/zurich-2013",
    "/blog/cz/sumava-downhill",
    "/blog/cz/tabor-2013",
    "/blog/cz/vim-naproste-zaklady",
    "/blog/cz/zavody-orientacniho-behu-v-oe2010-pod-linuxem",
    "/blog/en/pf2013",
] %}
{%set xx="aa"%}
{% for post in posts %}
    {% import post+".html" as article %}
    <a href="{{post}}"><h3>{{article.blog_title}}</h3></a>
    <p>{{article.blog_date}}</p>
{% endfor %}
{% endblock content %}
