{% extends "blog/base.html" %}
{% set blog_title = "Reklama na Evropský parlament" %}
{% set blog_date = "28. 9. 2013" %}
{% block blog_content %}
<p>Jako, že na YouTube reklamy nesleduji, ale tuto jsem si musel prohlédnout až do konce. Aspoň je z ní vidět, kam to Evropská unie dotáhla. Evropský parlament má potřebu dávat si reklamu na internet. A ješte má zakázané komentáře aby lidé nemohli kritizovat tento zoufalý čin?</p>
<p>Je to na zamyšlení!</p>

<iframe width="420" height="315" src="http://www.youtube.com/embed/i4Yv4vjQM7E" frameborder="0" allowfullscreen></iframe>

{% endblock blog_content %}