{% extends "blog/base.html" %}
{% set blog_title = "Šumavský downhill" %}
{% set blog_date = "21. 7. 2013" %}
{% block blog_content %}
Já a <a href="https://www.facebook.com/vojtech.hruza" target="blank">Vojta Hrůza</a> jsme 20. 7. 2013 jezdily downhill na Šumavě, konkrétně na Pancíři (1214 m.n.m). Já na MTB, Vojta na <a href="https://plus.google.com/u/0/photos/103792510103800752680/albums/5903042738938872385/5903042733926869618" target="blank">koloběžce</a>. Nahoru jsme jezdily lanovkou Špičák - Pancíř, jedna jízda vyšla na 80 Kč na osobu s kolem.
<h3>Trasa</h3>
Pěkná trasa má cca 10 km, z čehož je polovina teréní sjezd s převýšením 360 m.
<br><a href="http://mapy.cz/s/7ZPJ" target="blank">mapa</a>
<h3>Fotografie a videa</h3>
<a href="https://plus.google.com/u/0/photos/103792510103800752680/albums/5903042738938872385" target="blank">Moje fotky na Google+</a>
{% endblock blog_content %}