{% extends "blog/base.html" %}
{% set blog_title = "Tábor na Kosím potoce 2013" %}
{% set blog_date = "15. 7. 2013" %}
{% block blog_content %}
{% set gallery = [
    ["http://instagram.com/p/bv3X-SMDMM/media/?size=t", "http://instagram.com/p/bv3X-SMDMM/media/?size=l"],
    ["http://instagram.com/p/bvbiMEMDA-/media/?size=t", "http://instagram.com/p/bvbiMEMDA-/media/?size=l"],
    ["http://instagram.com/p/bsx-7EMDE-/media/?size=t", "http://instagram.com/p/bsx-7EMDE-/media/?size=l"],
    ["http://instagram.com/p/bJxXCFsDCO/media/?size=t", "http://instagram.com/p/bJxXCFsDCO/media/?size=l"],
] %}
Zatím jen pár fotek z tábora... Snad ještě něco sepíšu.
{% include "gallery.html" %}
{% endblock blog_content %}