{% extends "blog/base.html" %}
{% set blog_title = "Tvorba deb balíčku" %}
{% set blog_date = "9. 8. 2013" %}
{% block blog_content %}
Nejdříve si vytvoříme praconí adresáž na tvorbu deb balíčků (~/deb/) a přepneme se do něj.
<pre>
$ mkdir deb
$ cd deb
</pre>

Zde si vytvoříme adresář se stejným jménem jako název souboru balíčku, v našem případě helloworld_1~ondrejsika-1_all.deb. Název není jen tak vymyšlený první část je jméno programu a verze, další je autor balíčku a nakonec verze balíčku a platforma. V mém případě je balíček určen pro všechny platformy.

<pre>
$ mkdir helloworld_1~ondrejsika-1_all
$ cd helloworld_1~ondrejsika-1_all
</pre>

Zde musíme vytvořit složku DEBIAN a vložit do ní soubory se základními informacemi o balíčku. Stačí nám pouze soubor control. Do souboru control napište tyto nutné základní informace.

<pre>
Package: helloworld
Version: 1 
Architecture: all 
Maintainer: Ondrej Sika <ondrej@ondrejsika.com>
Installed-Size: 1
Depends: bash
Section: mysql
Priority: extra
Homepage: http://blog.ondrejsika.com/a/tvorba-deb-balicku
Description:
 Hello world app
</pre>

To jsou informace o balíčku, které jsou poviné. Pokud zadáme příkaz find, máme zde jen složku DEBIAN a v ní soubor control.

<pre>
$ find
.
./DEBIAN
./DEBIAN/control
</pre>

Teď už můžeme vytvářet souborovou strukturu která odpovídá souborové strukturě z linuxového rootu. Vytvořím soubor usr/local/bin/helloworld, který znázorňuje /usr/local/bin/helloworld. Do tohoto souboru napište Váš script a nastavte ho jako spustitelný.

<pre>
mkdir usr/local/bin/ -p
vim usr/local/bin/helloworld
chmod +x usr/local/bin/helloworld
</pre>

Do toho souboru zapište script

<pre>
#!/bin/sh
echo "Hello World!"
</pre>

Teď máme hotovo. Můžeme skontrolovat soubory v našem balíčku příkazem find.

<pre>
$ ls
DEBIAN  usr
$ find
.
./usr
./usr/local
./usr/local/bin
./usr/local/bin/helloworld
./DEBIAN
./DEBIAN/control
</pre>

Teď se přepneme z adresáře balíčku do našeho pracovního adresáře.

<pre>
$ cd ..
$ pwd
~/deb/
$ ls
helloworld_1~ondrejsika-1_all
</pre>

Niní můžeme balíček sestavit příkazem

<pre>
dpkg-deb --build helloworld_1~ondrejsika-1_all helloworld_1~ondrejsika-1_all.deb
dpkg-deb: building package `helloworld_1~ondrejsika-1_all' in `helloworld_1~ondrejsika-1_all.deb'.
</pre>

To je vše. Přeji hodně úspěchů při tvorbě vlastních balíčků.
{% endblock blog_content %}