{% extends "blog/base.html" %}
{% set blog_title = "Tvorba deb repozitáře" %}
{% set blog_date = "9. 8. 2013" %}
{% block blog_content %}

Jak vytvořit DEB balíčky už umíme, těď jen spůsob jejich distribuce. Nejlepší možností je vytvořit vlastní APT repozitář.

Nejdřive si vytvoříme souborovou strukturu na webovém serveru.

<pre>
cd /var/www/debianrepo
mkdir all
mkdir amd64
mkdir i386
mkdir source
</pre>

Do adresářů třídíme balíčky podle architektury. Skopirujte vaše balíčky do příslušných složek.

<pre>
cp ~/deb/helloworld_1~ondrejsika-1_all.deb /var/www/debianrepo/all
</pre>

Teď je důležité vytvořit packages index. Příkazem dpkg-scanpackages [dir] /dev/null | gzip -9c > [dir]/Packages.gz

<pre>
dpkg-scanpackages all /dev/null | gzip -9c > all/Packages.gz
dpkg-scanpackages amd64 /dev/null | gzip -9c > amd64/Packages.gz
dpkg-scanpackages i386 /dev/null | gzip -9c > i386/Packages.gz
dpkg-scanpackages source /dev/null | gzip -9c > all/Sources.gz
</pre>

Repozitář je hotový, po přidání dalšího balíčku je nutné znova vytvořit index.

<h3>Přidání repozitáře</h3>

Repozitář se přidá do souboru /etc/apt/sources.list

<pre>
echo "deb http://localhost/debianrepo/ all/" >> /etc/apt/source.list
echo "deb http://localhost/debianrepo/ amd64/" >> /etc/apt/source.list
echo "deb http://localhost/debianrepo/ i386/" >> /etc/apt/source.list
echo "deb-src http://localhost/debianrepo/ source/" >> /etc/apt/sources.list
apt-get update
</pre>

Pak se už dalí instalovat balíčky pomocí apt-get

<pre>
apt-get install helloworld
</pre>
{% endblock blog_content %}