{% extends "blog/base.html" %}
{% set blog_title = "Závody v orientačním běhu v OE2010 pod linuxem ve VirtualBoxu" %}
{% set blog_date = "16. 6. 2013" %}
{% block blog_content %}
<p>Na obsahu se pracuje ...</p>
<p>Pár fotek na <a href="https://plus.google.com/u/0/photos/103792510103800752680/albums/5890179747383720001" target="blank">Google +</a> a fotky od <a href="http://ines-photo.rajce.idnes.cz/Sedmihori_-_zakulisi/" target="blank">Ines</a></p>
<p>Oficiální web závodů <a href="http://lpm.zcu.cz/za2013/" target="blank">lpm.zcu.cz/za2013</a></p>
{% endblock blog_content %}