{% extends "base.html" %}
{% block content %}
<h2>Bike trips</h2>
{% set trips = [
    ["6. 6. 2013", "88.19", "6:18", "13.98", "57.85", [
    ]],
    ["19. 5. 2013", "19.03", "1:03", "18.92", "43.2", ["https://maps.google.com/maps/ms?msa=0&msid=217701801170887560136.0004dd9ec3070ebf42c46"]],
    ["10. 5. 2013", "23.21", "1:42", "13.62", "36", ["https://maps.google.com/maps/ms?msa=0&msid=217701801170887560136.0004dc8a626867fb7e3bc"]],
    ["9. 5. 2013", "30", "1:27", "20.5", "50.4", []],
    ["9. 5. 2013", "23.29", "1:24", "16.53", "44.21", []],
    ["8. 5. 2013", "26.93", "1:37", "16.5", "44.6", []],
] %}
<table class="table">
    <tr>
        <th>Date</th>
        <th>Distance (km)</th>
        <th>Time</th>
        <th>Avg. speed (km/h)</th>
        <th>Max. speed (km/h)</th>
        <th></th>
    </tr>
    {% for trip in trips %}
        <tr>
            <td>{{trip.0}}</td>
            <td>{{trip.1}}</td>
            <td>{{trip.2}}</td>
            <td>{{trip.3}}</td>
            <td>{{trip.4}}</td>
            <td>{% for map in trip.5 %}<a href="{{map}}" target="blank">map</a>&nbsp;{% endfor %}</td>
        </tr>
    {% endfor %}
</table>
{% endblock content %}
