{% extends "base.html" %}
{% block content %}
{% set beers = [
    ["11. 9. 2013"],
    ["10. 9. 2013"],
    ["4. 9. 2013"],
    ["4. 9. 2013"],
    ["3. 9. 2013"],
    ["2. 9. 2013"],
    ["2. 9. 2013"],
    ["30. 8. 2013"],
    ["30. 8. 2013"],
    ["30. 8. 2013"],
    ["20. 8. 2013"],
    ["20. 8. 2013"],
    ["18. 8. 2013"],
    ["18. 8. 2013"],
    ["16. 8. 2013"],
    ["16. 8. 2013"],
] %}
{% set sports = [
    ["8. 9. 2013"],
    ["31. 8. 2013"],
    ["24. 8. 2013"],
    ["18. 8. 2013"],
    ["18. 8. 2013"],
    ["17. 8. 2013"],
] %}
<style type="text/css">
.list img {height: 60px; }
.overview span {font-size: 150px; font-family: ubuntu; color: black; float: left; margin-top: 35px; }
.overview img {float: left; }
</style>
<h2>Pivní motivační program (Beer incentive program)</h2>
<p style="font-size:20px;font-family: ubuntu;">Started at 16. 8. 2013</p>
<div class="row">
    <div class="span3" style="margin-top:20px;">
        <center>
        <table class="list">
            <tr valign="bottom">
                <td>
                    {% for item in sports %}
                        <p><img src="/static/pmp/sport.svg" title="Sport {{item.0}}"></p>
                    {% endfor %}
                </td>
                <td>
                    {% for item in beers %}
                        <p><img src="/static/pmp/beer.svg" title="Beer {{item.0}}"></p>
                    {% endfor %}
                </td>
            </tr>
        </table>
        </center>
    </div>
    <div class="overview">
        <div class="span3" style="margin-top:20px;">
            <img src="/static/pmp/sport.svg" title="Sports"><span>{{sports|length}}</span>
            <div style="clear:both;"></div>
        </div>
        <div class="span3" style="margin-top:20px;">
            <img src="/static/pmp/beer.svg" title="Beers"><span>{{beers|length}}</span>
            <div style="clear:both;"></div>
        </div>
    </div>
</div>
{% endblock content %}
