{% extends "base.html" %}
{% block content %}
<h2>Runs</h2>
{% set trips = [
    ["8. 9. 2013", 9.23, "1:18:23", "7.07", [
    "https://docs.google.com/file/d/0B118dmY8q6kFTWlLeVRBeVN6dk0/edit?usp=drivesdk",
    ], ],
    ["31. 8. 2013", 10.00, "1:06:43", "9.23", [
    "https://docs.google.com/file/d/0B118dmY8q6kFMThvVHM4VzZ1dDg/edit?usp=drivesdk",
    ], "/blog/cz/werunprague-2013", ],
    ["23. 6. 2013", 4.78, "0:32", "9.15", [
    "https://maps.google.com/maps/ms?msa=0&msid=217701801170887560136.0004dfc7f615c116f0791",
    ], "http://instagram.com/p/a4c5czsDFP/", ],
] %}
<table class="table">
    <tr>
        <th>Date</th>
        <th>Distance (km)</th>
        <th>Time</th>
        <th>Avg. speed (km/h)</th>
        <th></th>
        <th></th>
    </tr>
    {% for trip in trips %}
        <tr>
            <td>{{trip.0}}</td>
            <td>{{trip.1}}</td>
            <td>{{trip.2}}</td>
            <td>{{trip.3}}</td>
            <td>{% for map in trip.4 %}<a href="{{map}}" target="blank">map</a>&nbsp;{% endfor %}</td>
            <td>{% if trip.5 %}<a href="{{trip.5}}" target="blank">photos</a>&nbsp;{% endif %}</td>
        </tr>
    {% endfor %}
</table>
{% endblock content %}
