{% extends "base.html" %}
{% block content %}
<div class="row">
    <div class="span9">
        <h2>Android appilcations</h2>
        <table class="table">
            <tr>
                <td><b>alsa remote</b></td>
                <td></td>
                <td><a href="/apps-libs/android/alsa-remote">documentation</a></td>
                <td><a href="https://github.com/sikaondrej/alsa-remote-android" target="blank">GitHub</a></td>
            </tr>
        </table>
    </div>
</div>
{% endblock content %}
