{% extends "base.html" %}
{% block content %}
<h2>Python libraries</h2>
<table class="table">
    <tr>
        <td><b>django-flexible-form</b></td>
        <td><a href="/docs/django-flexible-form">documentation</a></td>
        <td><a href="http://pypi.python.org/pypi/django-flexible-form" target="blank">pypi.python.org</a></td>
        <td><a href="https://github.com/sikaondrej/django-flexible-form" target="blank">GitHub</a></td>
    </tr>
    <tr>
        <td><b>django-related-admin</b></td>
        <td><a href="/docs/django-related-admin">documentation</a></td>
        <td><a href="http://pypi.python.org/pypi/django-related-admin" target="blank">pypi.python.org</a></td>
        <td><a href="https://github.com/sikaondrej/django-related-admin" target="blank">GitHub</a></td>
    </tr>
    <tr>
        <td><b>django-multi-model-form</b></td>
        <td><a href="/docs/django-multi-model-form">documentation</a></td>
        <td><a href="http://pypi.python.org/pypi/django-multi-model-form" target="blank">pypi.python.org</a></td>
        <td><a href="https://github.com/sikaondrej/django-multi-model-form" target="blank">GitHub</a></td>
    </tr>
    <tr>
        <td><b>django-language</b></td>
        <td><a href="/docs/django-language">documentation</a></td>
        <td><a href="http://pypi.python.org/pypi/django-language" target="blank">pypi.python.org</a></td>
        <td><a href="https://github.com/sikaondrej/django-language" target="blank">GitHub</a></td>
    </tr>
    <tr>
        <td><b>django-global</b></td>
        <td><a href="/docs/django-global">documentation</a></td>
        <td><a href="http://pypi.python.org/pypi/django-global" target="blank">pypi.python.org</a></td>
        <td><a href="https://github.com/sikaondrej/django-global" target="blank">GitHub</a></td>
    </tr>
    <tr>
        <td><b>django-opening-hours</b></td>
        <td><a href="/docs/django-opening-hours">documentation</a></td>
        <td><a href="http://pypi.python.org/pypi/django-opening-hours" target="blank">pypi.python.org</a></td>
        <td><a href="https://github.com/sikaondrej/django-opening-hours" target="blank">GitHub</a></td>
    </tr>
    <tr>
        <td><b>django-large-data-admin</b></td>
        <td><a href="/docs/django-large-data-admin">documentation</a></td>
        <td><a href="http://pypi.python.org/pypi/django-large-data-admin" target="blank">pypi.python.org</a></td>
        <td><a href="https://github.com/sikaondrej/django-large-data-admin" target="blank">GitHub</a></td>
    </tr>
    <tr>
        <td><b>django-keyvalue</b></td>
        <td><a href="/docs/django-keyvalue">documentation</a></td>
        <td><a href="http://pypi.python.org/pypi/django-keyvalue" target="blank">pypi.python.org</a></td>
        <td><a href="https://github.com/sikaondrej/django-keyvalue" target="blank">GitHub</a></td>
    </tr>
    <tr>
        <td><b>django-applabel</b></td>
        <td><a href="/docs/django-applabel">documentation</a></td>
        <td><a href="http://pypi.python.org/pypi/django-applabel" target="blank">pypi.python.org</a></td>
        <td><a href="https://github.com/sikaondrej/django-applabel" target="blank">GitHub</a></td>
    </tr>
    <tr>
        <td><b>django-remote</b></td>
        <td><a href="/docs/django-remote">documentation</a></td>
        <td><a href="http://pypi.python.org/pypi/django-remote" target="blank">pypi.python.org</a></td>
        <td><a href="https://github.com/sikaondrej/django-remote" target="blank">GitHub</a></td>
    </tr>
    <tr>
        <td><b>django-simpleblog</b></td>
        <td><a href="/docs/django-simpleblog">documentation</a></td>
        <td><a href="http://pypi.python.org/pypi/django-simpleblog" target="blank">pypi.python.org</a></td>
        <td><a href="https://bitbucket.org/sikaondrej/django-simpleblog"  target="blank">bitbucket</a></td>
    </tr>
</table>

{% endblock content %}
