{% extends "base.html" %}
{% block content %}
<div class="row">
    <div class="span9">
        <h2>Appilcations</h2>
        <table class="table">
            <tr>
                <td><b>deploy (python host manager)</b></td>
                <td></td>
                <td><a href="/docs/deploy">documentation</a></td>
                <td><a href="https://github.com/sikaondrej/deploy" target="blank">GitHub</a></td>
            </tr>
            <tr>
                <td><b>s4 (static files services)</b></td>
                <td></td>
                <td><a href="/docs/s4">documentation</a></td>
                <td></td>
            </tr>
            <tr>
                <td><b>spm (smart postgresql manager)</b></td>
                <td></td>
                <td><a href="/docs/spm">documentation</a></td>
                <td><a href="https://github.com/sikaondrej/spm" target="blank">GitHub</a></td>
            </tr>
            <tr>
                <td><b>alsa remote</b></td>
                <td></td>
                <td><a href="/docs/alsa-remote">documentation</a></td>
                <td><a href="https://github.com/sikaondrej/alsa-remote" target="blank">GitHub</a></td>
            </tr>
            <tr>
                <td><b>TyperJS</b></td>
                <td></td>
                <td><a href="/docs/typerjs">documentation</a></td>
                <td><a href="https://github.com/sikaondrej/typerjs" target="blank">GitHub</a></td>
            </tr>
            <tr>
                <td><b>tilescache</b></td>
                <td></td>
                <td><a href="/docs/tilescache">documentation</a></td>
                <td><a href="https://github.com/sikaondrej/tilescache" target="blank">GitHub</a></td>
            </tr>
        </table>
    </div>
</div>
<div class="row">
    <div class="span9">
        <h2>Android appilcations</h2>
        <table class="table">
            <tr>
                <td><b>alsa remote</b></td>
                <td><a href="/docs/alsa-remote-android">documentation</a></td>
                <td><a href="https://play.google.com/store/apps/details?id=com.ondrejsika.android.alsaremote" target="blank">Play</a></td>
                <td><a href="https://github.com/sikaondrej/alsa-remote-android" target="blank">GitHub</a></td>
            </tr>
        </table>
    </div>
</div>
<h2>Libraries</h2>
<div class="row">
    <div class="span3">
        <a href="/apps-libs/python"><h3>Python </h3></a>
    </div>
    <div class="span3">
        <a href="/apps-libs/django"><h3>Django</h3></a>
    </div>
    <div class="span3">
        <a href="/apps-libs/javascript"><h3>JavaScript</h3></a>
    </div>
</div>
<div class="row">
    <div class="span9">
        <h2>APIs</h2>
        <table class="table">
            <tr>
                <td><b>github shop api</b></td>
                <td></td>
                <td><a href="/docs/github-shop-api">documentation</a></td>
                <td><a href="https://github.com/sikaondrej/github-shop-api" target="blank">GitHub</a></td>
            </tr>
        </table>
    </div>
</div>
{% endblock content %}
